<template>
	<div :style="{height: height ? px(height) : '100%',width: width ? px(width) : '100%'}"></div>
</template>

<script>
var ace = require('brace');

export default {
	props:{
		value:{
			type:String,
			required:true
		},
		lang:String,
		theme:String,
		height:true,
		width:true,
		readonly: Boolean,
		cursor_row:{
			type: Number,
			default: -1,
		},
		cursor_col:{
			type: Number,
			default: -1,
		},
		cmperrs:{
			type: Array,
			default: function () { return [] },
		},
	},
	data: function () {
		return {
			editor:null,
			contentBackup:""
		}
	},
	methods: {
		px (n) {
			if( /^\d*$/.test(n) ){
				return n+"px";
			}
			return n;
		},
	},
	watch:{
		value (val) {
			if(this.contentBackup !== val)
				this.editor.setValue(val,1);
		},
		readonly (val) {
			this.editor.setOptions({
				readOnly: val,
				highlightActiveLine: !val,
				highlightGutterLine: !val
			});
			this.editor.renderer.$cursorLayer.element.style.opacity = val ? 0 : 1;
		},
		lang (val) {
			this.editor.getSession().setMode('ace/mode/'+val);
		},
		cursor_row (val) {
			this.editor.moveCursorTo(val, this.cursor_col, false);
			this.editor.focus();
		},
		cursor_col (val) {
			this.editor.moveCursorTo(this.cursor_row, val, false);
			this.editor.focus();
		},
		cmperrs (new_val) {
			var annotations = [];
			if (new_val.length > 0) {
				new_val.forEach(element => {
					var note_type = "info";
					if (element.note_obj.note_type == "0") {
						note_type = "error";
					}
					else if (element.note_obj.note_type == "1") {
						note_type = "warning";
					}
					annotations.push({
						row: element.line_number - 1,
						column: 0,
						text: element.note_obj.note,
						type: note_type,
					});
				});
			}
			this.editor.getSession().setAnnotations(annotations);
		}
	},
	mounted () {
		var vm = this;
		var lang = this.lang||'text';
		var theme = this.theme||'chrome';

		require('brace/ext/emmet');

		var editor = vm.editor = ace.edit(this.$el);

		this.$emit('init',editor);
		
		editor.$blockScrolling = Infinity;
		editor.setOption("enableEmmet", true);
		editor.getSession().setMode('ace/mode/'+lang);
		editor.setTheme('ace/theme/'+theme);
		editor.setValue(this.value,1);

		// set readonly mode
		if (this.readonly) {
			editor.setOptions({
				readOnly: true,
				highlightActiveLine: false,
				highlightGutterLine: false
			})
			editor.renderer.$cursorLayer.element.style.opacity = 0;
		}
		// set cursor position
		if (this.cursor_row > -1 && this.cursor_col > -1) { 
			editor.moveCursorTo(this.cursor_row, this.cursor_col, false);
			editor.focus();
		}

		var annotations = [];
		if (this.cmperrs.length > 0) {
			this.cmperrs.forEach(element => {
				var note_type = "info";
				if (element.note_obj.note_type == "0") {
					note_type = "error";
				}
				else if (element.note_obj.note_type == "1") {
					note_type = "warning";
				}
				annotations.push({
					row: element.line_number - 1,
					column: 0,
					text: element.note_obj.note,
					type: note_type,
				});
			});
		}
		editor.getSession().setAnnotations(annotations);

		editor.on('change',function () {
			var content = editor.getValue();
			vm.$emit('input',content);
			vm.contentBackup = content;
		});
	}
}
</script>
