<template>
	<div class="layout" :class="{'layout-hide-text': spanLeft < 4}">
		<Row type="flex">
			<Col :span="spanLeft" class="layout-menu-left">
				<Menu :active-name="activeMenuItem" theme="dark" width="auto">
					<div class="layout-logo-left">
						<div @click="router_to('home')">
							<span>Uppermind</span>
						</div>
					</div>
					<MenuItem v-for="item in menu_items" :key="item.text" :name="item.route.name" >
						<div @click="router_to(item.route.name)">
							<Icon :type="item.icon" :size="iconSize"></Icon>
							<span class="layout-text">{{item.text}}</span>
						</div>
					</MenuItem>
				</Menu>
			</Col>
			<Col :span="spanRight">
				<div class="layout-header">
					<Button type="text" @click="toggleClick">
						<Icon type="navicon" size="32"></Icon>
					</Button>
					<div class="layout-ceiling-main">
						<div v-if="user.is_authenticated">
							
							<Tooltip class="iconed" content="Уведомления" placement="left">
								<Badge :count="user.notifications_count">
									<Icon type="ios-bell-outline" size="26"></Icon>
								</Badge>
    						</Tooltip>

							<Tooltip content="Открыть меню аккаунта" placement="left">
								<Dropdown trigger="click" @on-click="menu_click">
									<a href="javascript:void(0)" class="layout-ceiling-text">
										<Avatar src="https://i.loli.net/2017/08/21/599a521472424.jpg" />
										{{ get_user_name }}
										<Icon type="arrow-down-b"></Icon>
									</a>
									<DropdownMenu slot="list">
										<DropdownItem name="profile">Профиль</DropdownItem>
										<DropdownItem name="settings">Настройки</DropdownItem>
										<DropdownItem divided name="logout">Выйти</DropdownItem>
									</DropdownMenu>
								</Dropdown>
							</Tooltip>
						</div>
						<div v-if="!user.is_authenticated" class="btn_holder">
							<router-link to="login"><Button type="primary">Войти</Button></router-link>
						</div>
					</div>
				</div>
				<div class="layout-content">
					<div class="layout-content-main">
						<router-view></router-view>
					</div>
				</div>
				<div class="layout-copy">
					2017 &copy; uppermindquas
				</div>
			</Col>
		</Row>
	</div>
</template>

<script>
import global from "./global";

export default {
	data: () => ({
		//iView layout
		spanLeft: 4,
		spanRight: 20,

		drawer: true,
		activeMenuItem: "",
		menu_items_raw: [
			{
				icon: "ios-monitor",
				text: "Дэшборд",
				route: { name: "dashboard" },
				need_auth: true
			},
			/*
			{
				icon: "arrow-graph-up-right",
				text: "Курсы",
				route: { name: "courses" },
			},
			*/
			{
				icon: "arrow-graph-up-right",
				text: "Мои курсы",
				route: { name: "course_executions" },
				need_auth: true
			},
			// { icon: 'history', text: 'History', route: { name: 'dashboard' },},
		]
	}),
	methods: {
		toggleClick() {
			if (this.spanLeft === 4) {
				this.spanLeft = 2;
				this.spanRight = 22;
			} else {
				this.spanLeft = 4;
				this.spanRight = 20;
			}
		},
		alert(data) {
			alert(data);
		},
		router_push(data) {
			this.$router.push(data);
		},
		router_to(route_name) {
			this.$router.push({ name: route_name });
		},
		logout() {
			global.logout(this);
			this.$router.push({ name: 'home' });
		},
		open_notifications() {
			alert("load notifications");
		},
		menu_click(item_name) {
			switch (item_name) {
				case "logout":
					this.logout();
					break;
				default:
					alert("TODO:" + item_name);
					//this.router_to(item_name);
					break;
			}
		}
	},
	computed: {
		iconSize() {
			return this.spanLeft === 5 ? 14 : 24;
		},
		user() {
			return this.$store.state.user_app.user;
		},
		get_user_name() {
			if (this.$store.state.user_app.user.name) {
				return this.$store.state.user_app.user.name;
			}
			return this.$store.state.user_app.user.username;
		},
		menu_items() {
			if (!this.$store.state.user_app.user.is_authenticated) {
				return this.menu_items_raw.filter(function(item) {
					if (item.hasOwnProperty("need_auth") && item.need_auth === true) {
						return false;
					}
					return true;
				});
			} else {
				return this.menu_items_raw;
			}
		}
	},
	created() {
		/* TODO: visit info send
		if (global.debug_mode) {
			console.log("Debug mode is on. No visitor tracking");
		}
		else {
			this.$http.post(global.INITIAL_URL, {url: document.location.href}).then(response => {
				console.log(response.body);
				if (this.$store.state.user_app.user.is_authenticated && response.body.user == null) 
				{ 
					alert("logout error");
				}
			}, response => {
				alert("AJAX error");
				// error callback
			});
		}
		*/
	},
};
</script>

<style>
/*
TODO: normal height
*/
.no_link_style {
	text-decoration: none;
	color: initial;
}
.user_hover {
	padding: 14px 5px;
}
.user_hover:hover {
	background-color: rgba(0, 0, 0, 0.3);
}
.hover_box:hover {
	background-color: rgba(0, 0, 0, 0.3) !important;
}

/* replacing terrable "required" style */
.ivu-form-item-required .ivu-form-item-label:before {
	content: '';
}
.ivu-form-item-required .ivu-form-item-label:after {
	content: ' *';
    display: inline-block;
    margin-left: 4px;
    line-height: 1;
    font-family: SimSun;
    font-size: 12px;
    color: #ed3f14;
}


.layout {
	border: 1px solid #d7dde4;
	background: #f5f7f9;
	position: relative;
	border-radius: 4px;
	overflow: hidden;
}
.layout-breadcrumb {
	padding: 10px 15px 0;
}
.layout-content {
	min-height: 200px;
	margin: 15px;
	overflow: hidden;
	background: #fff;
	border-radius: 4px;
}
.layout-content-main {
	padding: 10px;
}
.layout-copy {
	text-align: center;
	padding: 10px 0 20px;
	color: #9ea7b4;
}
.layout-menu-left {
	background: #464c5b;
}
.layout-header {
	height: 50px;
	background: #fff;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.layout-logo-left {
	width: 90%;
	height: 30px;
	background: #5b6270;
	color: white;
	border-radius: 3px;
	margin: 10px auto;
	text-align: center;
	font-size: 14pt;
}
.layout-ceiling-main a {
	color: #9ba7b5;
}
.layout-hide-text .layout-text {
	display: none;
}
.ivu-col {
	transition: width 0.2s ease-in-out;
}
.layout-ceiling-main{
	float: right;
	margin-right: 15px;
}
.layout-ceiling-text {
	padding: 15px 0;
}
.btn_holder {
	padding: 10px 0;
}
.layout-ceiling-text > .ivu-avatar-image {
	top: 10px;
}
.iconed {
	margin: 0 15px;
}
</style>
