<template>
	<div>
		<div v-if="loading">
			<div style="height: 100px; width: 100px; margin: 0 auto">
				<q-spinner name="puff" color="secondary" :size="150" />
			</div>
		</div>
		<div v-if="!loading">
			<table class="primary_table" style="width: 100%;">
				<tr>
					<td width="40%">
						<div style="max-height: 500px; overflow: auto;">
							<h4>{{ item.task.title }}</h4>
							<p v-html="item.task.desc"></p>
							
							<div v-if="item.task.task_type == 'C' && item.pairs.length > 0">
								<table class="primary_table">
									<tr>
										<th>№</th>
										<th>Пример ввода</th>
										<th>Пример вывода</th>
										<th></th>
									</tr>
									<tr v-for="pair in item.pairs" :key="pair.pk">
										<td>{{ pair.number }}</td>
										<td><span class="mono_span">{{ pair.input_str }}</span></td>
										<td><span class="mono_span">{{ pair.output_str }}</span></td>
										<td v-html="get_detail(pair.number)"></td>
									</tr>
								</table>
							</div>
						</div>
					</td>
					<td>
						<div class="task_answer" v-if="item.task.task_type == 'A'">
							<strong>Ответ:</strong> 
							<span class="mono_span">{{ item.answer }}</span>
						</div>
						<div class="task_code" v-else-if="item.task.task_type == 'C'">
							<strong>Решение:</strong> 
							<editor ref="code_editor" v-model="item.answer" @init="editorInit();" :lang="lang" :cmperrs="cmperrs" theme="chrome" width="100%" height="500"></editor>
						</div>
						<div class="task_one" v-else-if="item.task.task_type == 'O'">
							<strong>Ответ:</strong> 
							<span class="mono_span">{{ get_title(item.answer) }}</span>
						</div>
						<div class="task_multiple" v-else-if="item.task.task_type == 'M'">
							<strong>Ответ:</strong> 
							<span class="mono_span">{{ item.answer }}</span> (TODO)
						</div>
						<div class="task_sequence" v-else-if="item.task.task_type == 'S'">
							<strong>Ответ:</strong> 
							<span class="mono_span">{{ item.answer }}</span> (TODO)
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<input type="text" v-model="search" placeholder="Поиск..." style="width: 100%"/>
						<div :class="{'active_note': note_item.task == item.task.pk}" v-for="note_item in sorted_notes" :key="note_item.pk">
							<span>{{ note_item.note }}</span>
							<span>{{ note_item.note_type }}</span>
							<strong :title="note_item.note_type" :class="{'note_plus': note_item.points > 0, 'note_minus': note_item.points < 0}">{{ note_item.points }}</strong>
							<q-btn color="black" small @click="add_note(note_item)">+</q-btn>
						</div>
						<div class="note_form">
							<p>
								Заметка
								<input type="text" style="width: 100%" v-model="new_note.note">
							</p>
							<p>
								Очков
								<input type="number" step="0.1" v-model="new_note.points" style="width: 50px">

								Тип
								<select v-model="new_note.note_type">
									<option disabled value="">Выберите вариант</option>
									<option value="SYNTAX">Синтаксис</option>
									<option value="INDENT">Отступы</option>
									<option value="NAMES">Названия</option>
									<option value="STRUCT">Структура</option>
									<option value="STYLE">Стиль кода</option>
									<option value="OPTIM">Оптимизация</option>
									<option value="TYPES">Типы данных</option>
								</select>
								<label>
									<input type="checkbox" v-model="new_note.task_dependent">
									Задачезависим
								</label>
								<q-btn v-model="submit_note" loader color="primary" @click="create_note">
									Создать
									<q-spinner slot="loading" />
								</q-btn>
							</p>	
							
						</div>
					</td>
					<td>
						<p>Отправил <strong>{{ user_get_short_name(item.user.profile) }}</strong> {{ item.finished_at }}({{ item.finished_at | relative_time }})</p>
						<p>Пройдено тестов: {{ item.percent }}%</p>
						<div v-if="item.status_string">Сообщение: <strong>{{ item.status_string }}</strong></div>
						<p>
							<strong>Оценка:</strong> 
							{{ item.mark }}
							<span v-if="item.checked_at == null">(не проверено)</span>
						</p>
						<div v-if="item.notes.length > 0">
							<strong>Заметки по решению</strong>
							<div v-for="note_item in item.notes" :key="note_item.pk">
								<span>{{ note_item.note_obj.note }}</span>
								<span>{{ note_item.note_obj.note_type }}</span>
								<span v-if="note_item.ranges" class="ranges_list">
									<span class="range_item" v-on:mouseover="highlight_range(range_item, note_item.note_obj.points)" v-on:mouseout="unhighlight" v-for="range_item in to_list(note_item.ranges)" :key="range_item">{{ range_item }}</span>
								</span>
								<q-btn color="black" small @click="add_range(note_item)">+</q-btn>
								<strong :title="note_item.note_obj.note_type" :class="{'note_plus': note_item.note_obj.points > 0, 'note_minus': note_item.note_obj.points < 0}">{{ note_item.note_obj.points }}</strong>
								<q-btn color="black" small @click="remove_note(note_item.note_obj.pk)">Удалить</q-btn>
							</div>
						</div>

						<q-btn v-model="submit" loader color="primary" @click="save_check">
							Сохранить
							<q-spinner slot="loading" />
						</q-btn>
						
						<q-btn v-model="submit_correct" loader color="positive" @click="save_correct_check">
							Все верно
							<q-spinner slot="loading" />
						</q-btn>

						<q-btn color="dark" @click="next_task" v-if="item.next_pk">
							Следующее задание
						</q-btn>
					</td>
				</tr>
			</table>
		</div>
	</div>
</template>

<script>
import global from "../../global"
import Editor from '../../modules/Ace'
import ace from 'brace'
import {
	QBtn,
	QIcon,
	QSpinner,
	Toast,
} from 'quasar'
var Range = ace.acequire('ace/range').Range;

export default {
	components: {
		QBtn,
		QIcon,
		QSpinner,
		editor: Editor,
	},
	data() {
		return {
			pk: this.$route.params.pk,
			item: {},
			search: "",
			details: {},
			loading: true,
			answer: "",
			lang: null,
			submit_note: false,
			submit: false,
			submit_correct: false,
			marker: null,
			new_note: {
				note: '',
				note_type: '',
				points: 0,
				task_dependent: false,
			},
			cmperrs: [],
			notes: [],
		}
	},
	methods: {
		editorInit () {
			//require('brace/mode/c_cpp');
			require('brace/theme/chrome');
		},
		update_mark() {
			var mark = 1.0;
			for (var i = 0; i < this.item.notes.length; i++) {
				mark += this.item.notes[i].note_obj.points;
			}
			this.item.mark = Math.floor(mark * 10) / 10;
		},
		add_note(note_item) {
			console.log(note_item);
			var have = false;
			for (var i = 0; i < this.item.notes.length; i++) {
				if (note_item.pk == this.item.notes[i].note_obj.pk) {
					have = true;
					break;
				}
			}
			if (!have) {
				var new_note = {
					pk: null,
					note_obj: note_item,
					ranges: "",
					created_at: null,
				}				
				this.item.notes.push(new_note);
				this.add_range(new_note, true);
				this.update_mark();
			}
			else {
				alert("This item is already in list");
			}
		},
		remove_note(note_id) {
			var index = -1;
			for (var i = 0; i < this.item.notes.length; i++) {
				var element = this.item.notes[i];
				if (element.pk == note_id) {
					index = i;
					break;
				}
			}
			this.item.notes.splice(index, 1);
			this.update_mark();
		},
		add_range(note_item, not_initial) {
			var index = this.item.notes.indexOf(note_item);
			if (index >= 0) {
				if (this.item.notes[index].ranges.length > 0) {
					this.item.notes[index].ranges += ",";
				}
				var range = this.$refs.code_editor.editor.getSelectionRange();
				var lines_count = this.$refs.code_editor.editor.selection.doc.$lines.length;
				var start = range.start.row;
				var end = range.end.row;
				if (start == end == (lines_count - 1) || (range.start.row == range.end.row && range.start.column == range.end.column)) {
					alert("no selection");
					return false;
				}
				this.item.notes[index].ranges += "" + range.start.row + "_" + range.start.column + ":" + range.end.row + "_" + range.end.column + "";
			}
			else if (not_initial) {
				alert("TODO: Error. Index " + index + " found");
			}
		},
		alert(data) {
			alert(data);
		},
		load_notes() {
			this.$http.get(global.API_URL + 'learn/api/notes/').then(response => {
				console.log(response.body);
				this.notes = response.body;
			}, response => {
				global.process_error(this, response, false);
			});
		},
		create_note(e, done) {
			if (this.new_note.note == '' || this.new_note.note_type == '') {
				done();
				alert("Заполните все поля");
				return false;
			}
			var new_note = {
				note: this.new_note.note,
				note_type: this.new_note.note_type,
				points: this.new_note.points,
			};
			if (this.new_note.task_dependent) {
				new_note.task = this.item.task.pk;
			}
			this.$http.post(global.API_URL + 'learn/api/v1/tasknote/', new_note).then(response => {
				console.log(response.body);
				this.new_note.note = '';
				this.new_note.note_type = '';
				this.new_note.points = 0;
				this.load_notes();
				Toast.create.positive({
					html: 'Заметка успешно создана',
					timeout: 2000,
				});
				done();
			}, response => {
				global.process_error(this, response, false);
				done();
			});
		},
		save_check(e, done) {
			this.$http.put(global.API_URL + 'learn/api/taskexecution/admin/' + this.pk, this.item).then(response => {
				console.log(response.body);
				this.item = response.body;
				Toast.create.positive({
					html: 'Задача успешно сохранена',
					timeout: 2000,
				});
				done();
			}, response => {
				global.process_error(this, response, false);
				done();
			});
		},
		save_correct_check(e, done) {
			this.item.mark = 1.0;
			this.save_check(e, done);
		},
		highlight_range(range_str, points) {
			var class_name = "line_note";
			if (points < 0) {
				class_name = "line_warning";
			}
			else if (points > 0) {
				class_name = "line_success";
			}
			var parts = range_str.split(':');
			var start = parts[0].split('_');
			var end = parts[1].split('_');
			this.marker = this.$refs.code_editor.editor.getSession().addMarker(new Range(parseInt(start[0]), parseInt(start[1]), parseInt(end[0]), parseInt(end[1])), class_name, "line", true);
		},
		unhighlight() {
			if (this.marker != null) {
				this.$refs.code_editor.editor.getSession().removeMarker(this.marker);
				this.marker = null;
			}
		},
		to_list(ranges_string) {
			return ranges_string.split(",");
		},
		next_task() {
			this.$router.push({name: 'task_check_page', params: {pk: this.item.next_pk}});
			this.$router.go();
		},
		user_get_short_name(self) {
			return global.user_get_short_name(self);
		},
		get_title(answer) {
			for (var i = 0; i < this.item.options.length; i++) {
				var element = this.item.options[i];
				if (('' + element.pk) == answer) {
					return element.title;
				}
			}
			return answer;
		},
		get_detail(number) {
			return this.details[number];
		},
	},
	computed: {
		sorted_notes () {
			if (this.search.length > 0) {
				return this.notes.filter(note => {
					return note.note.toLowerCase().includes(this.search.toLowerCase())
				})
			}
			var list = [];
			for (var i = 0; i < this.notes.length; i++) {
				var element = this.notes[i];
				if (element.task === null) {
					list.push(element);
				}
			}

			for (var i = 0; i < this.notes.length; i++) {
				var element = this.notes[i];
				if (element.task == this.item.task.pk) {
					list.push(element);
				}
			}

			for (var i = 0; i < this.notes.length; i++) {
				var element = this.notes[i];
				if (element.task !== this.item.task.pk && element.task !== null) {
					list.push(element);
				}
			}
			return list;
		}
	},
	created() {
		this.$http.get(global.API_URL + 'learn/api/taskexecution/admin/' + this.pk).then(response => {
			// console.log(response.body);
			this.item = response.body;
			this.item.details.forEach(element => {
				this.details[element.pair.number] = element.status;
			});

			if (this.item.task.programming_language && this.item.task.programming_language.ace_name) {
				this.lang = this.item.task.programming_language.ace_name;
				require('brace/mode/' + this.lang);
			}
			this.cmperrs = [];
			if (this.item.compiler_notes) {
				this.cmperrs = this.item.complier_notes;
			}
			document.title = this.item.task.title;
			this.loading = false;
			this.load_notes();
		}, response => {
			global.process_error(this, response, true);
		});
	},
}
</script>

<style scoped>
.primary_table {
	border-collapse: collapse;
}
.primary_table th, .primary_table td {
	border: 1px solid black;
	padding: 3px;
}
.primary_table td {
	vertical-align: top;
}
.mono_span {
	font-family: Consolas, monospace;
	white-space: pre;
}
.note_plus {
	color: darkgreen;
}
.note_minus {
	color: brown;
}

.active_note {
	font-weight: bold;
}
.range_item {
	border: 1px solid gray;
	margin: 5px;
}
</style>
