<template>
	<div>
		<h4>Добро пожаловать на сайт</h4>
		<p>Здесь скоро будет информация о возможностях, список обновлений и много картинок</p>
	</div>
</template>

<script>
export default {
	data: () => ({
	})
}
</script>

<style>

</style>
