<template>
	<div>
		<h4>Незавершенные задачи</h4>
		<div class="uncompleted_task_items">
			<div class="uncompleted_task_item" v-for="task_item in uncompleted_task_items" :key="task_item.pk">
				{{ task_item.task.title }}
			</div>
		</div>

		<h4>Завершенные задачи с кодом</h4>
		<div class="completed_code_items">
			<div class="code_item" v-for="code_item in completed_code_items" :key="code_item.pk">
				{{ code_item.task.title }}
			</div>
		</div>

		<h4>Проверенные задачи</h4>
		<div class="completed_code_items">
			<div class="code_item" v-for="code_item in completed_code_items" :key="code_item.pk">
				{{ code_item.task.title }}
			</div>
		</div>

	</div>
</template>

<script>
export default {
	data: () => ({
		uncompleted_task_items: [
			{"pk":33,"answer":"","is_correct":null,"started_at":"2017-10-31T14:04:23.069645Z","finished_at":null,"task":{"pk":6,"task_type":"C","title":"Определить четность и окончание - 7","desc":"Дано натуральное число. Определить: \r\nа) является ли оно четным; \r\nб) оканчивается ли оно цифрой 7.","gives_coins":30,"gives_base_experience":30,"status":1,"last_execution_id":33}},
			{"pk":34,"answer":"","is_correct":null,"started_at":"2017-10-31T14:13:48.910548Z","finished_at":null,"task":{"pk":7,"task_type":"C","title":"Самое большое, самое маленькое","desc":"Даны три различных целых числа. Определить, какое из них (первое, второе или третье): \r\nа) самое большое;\r\nб) самое маленькое;","gives_coins":40,"gives_base_experience":40,"status":1,"last_execution_id":34}},
		],
		completed_code_items: [
			{"pk":33,"answer":"","is_correct":true,"started_at":"2017-10-31T14:04:23.069645Z","finished_at":"2017-10-31T15:04:23.069646Z","task":{"pk":6,"task_type":"C","title":"Определить четность и окончание - 7","desc":"Дано натуральное число. Определить: \r\nа) является ли оно четным; \r\nб) оканчивается ли оно цифрой 7.","gives_coins":30,"gives_base_experience":30,"status":1,"last_execution_id":33}},
			{"pk":34,"answer":"","is_correct":true,"started_at":"2017-10-31T14:13:48.910548Z","finished_at":"2017-10-31T15:04:23.069646Z","task":{"pk":7,"task_type":"C","title":"Самое большое, самое маленькое","desc":"Даны три различных целых числа. Определить, какое из них (первое, второе или третье): \r\nа) самое большое;\r\nб) самое маленькое;","gives_coins":40,"gives_base_experience":40,"status":1,"last_execution_id":34}},
		],
		manual_check_items: [
			{ action: '15 min', headline: 'Brunch this weekend?', title: 'Ali Connors', subtitle: "I'll be in your neighborhood doing errands this weekend. Do you want to hang out?" },
			{ action: '6 hr', headline: 'Oui oui', title: 'Sandra Adams', subtitle: "Do you have Paris recommendations? Have you ever been?" },
			{ action: '12 hr', headline: 'Birthday gift', title: 'Trevor Hansen', subtitle: "Have any ideas about what we should get Heidi for her birthday?" },
			{ action: '18hr', headline: 'Recipe to try', title: 'Britta Holt', subtitle: "We should eat this: Grate, Squash, Corn, and tomatillo Tacos." },
		],
	}),
}
</script>

<style>

</style>
