<template>
	<div>
		<h2>Войти</h2>
		<p>Войдите в аккаунт, чтобы получить доступ к платформе</p>
		<br>
		<Form ref="login_form" :model="credentials" :rules="rules">
			<Alert type="error" v-if="form_invalid">Невозможно войти с предоставленными учетными данными.</Alert>
			<FormItem prop="username" label="Логин">
				<Input type="text" v-model="credentials.username" placeholder="Логин">
					<Icon type="ios-person-outline" slot="prepend"></Icon>
				</Input>
			</FormItem>
			<FormItem prop="password" label="Пароль">
				<Input type="password" v-model="credentials.password" placeholder="Пароль">
					<Icon type="ios-locked-outline" slot="prepend"></Icon>
				</Input>
			</FormItem>
			<FormItem>
				<Button :loading="is_sending" type="primary" @click="submit">
					<span v-if="!is_sending">Войти</span>
        			<span v-else>Отправка...</span>
				</Button>
			</FormItem>
			<!-- because iView form doesn't support submit property -->
			<input class="hidden" ref="submit_btn" type="submit">
		</Form>
	</div>
</template>

<script>
	import global from '../../global'
	export default {
		data() {
			return {
				is_sending: false,
				form_invalid: false,
				// We need to initialize the component with any
				// properties that will be used in it
				credentials: {
					username: '',
					password: ''
				},
				rules: {
                    username: [
                        { required: true, message: 'Введите логин', trigger: 'blur' }
                    ],
                    password: [
                        { required: true, message: 'Введите пароль', trigger: 'blur' },
                        { type: 'string', min: 6, message: 'Пароль состоит минимум из 6 символов', trigger: 'blur' }
                    ]
                }
			}
		},
		methods: {
			submit(event) {
				event.preventDefault();
				this.$refs['login_form'].validate((valid) => {
                    if (valid) {
						var credentials = {
							username: this.credentials.username,
							password: this.credentials.password
						}
						if (global.debug_mode) {
							// hardcode user response
							var response = {
								body: {
									user: {
										username: "insanecake",
										name: "Антон",
										last_name: "Чубов",
										surname: "",
										coins: 15,
										cristals: 5,
										rubles: 0,
										notifications_count: 0,
									},
									token: "c5a1494c563e5d0cb28dc3153d99bed13449ad89"
								}
							}
							this.$store.commit("LOGIN", response.body, {module: 'user_app'});
							this.$router.push('dashboard');

							this.$Message.success('Вы успешно вошли');
						}
						else {
							this.is_sending = true;
							this.form_invalid = false;
							this.$http.post(global.LOGIN_URL, credentials).then(response => {
								
								//TODO: remove
								console.log(response);

								this.$store.commit("LOGIN", response.body, {module: 'user_app'});
								this.$router.push('dashboard');
								this.$Message.success('Вы успешно вошли');
								this.is_sending = false;
							}, response => {
								this.is_sending = false;
								if (response.status == 0) { // ERR_CONNECTION_REFUSED
									this.$Notice.error({
										title: 'Ошибка',
										desc: 'Отсутствует соединение с сервером. Проверьте интернет соединение и попробуйте позже',
									});
								}
								else if (response.status == 400) { // Bad Request
									this.form_invalid = true;
									if (response.body.non_field_errors) {
										this.$Notice.error({
											title: 'Ошибка',
											desc: response.body.non_field_errors.join(", "),
										});
									}
									else {
										this.$Notice.error({
											title: 'Ошибка',
											desc: 'Ошибка введенных данных',
										});
									}
								}
								else {
									this.$Message.error({content: 'AJAX error with code ' + response.status, duration: 0, closable: true});
								}
								console.log(response);
							});
						}
                    } else {
                        this.$Message.error('Введите корректные данные!');
                    }
				})
			},
			alert(data) {
				alert(data);
			}
		},
		mounted() {
			// bullshit because iView form doesn't support submit property
			this.$refs.submit_btn.parentElement.addEventListener("submit", this.submit);
		},

	}
</script>

<style scoped>
.ivu-icon {
	font-size: large;
}
.hidden {
	visibility: hidden;
}
</style>
