<template>
	<div :class="{'fill-height': loading}">
		<div v-if="loading">
			<div style="height: 100px; width: 100px; margin: 0 auto">
				loading
			</div>
		</div>
		<div v-if="!loading">
			<div>
				<h4>{{ item.title }}</h4>
				<p>{{ item.desc }}</p>

				<div>
					<div v-for="lesson in item.lessons" :key="lesson.pk">
						<v-divider></v-divider>
						<h6>{{ lesson.title }}</h6>
						<p>{{ lesson.short_desc }}</p>
						<v-btn @click="router_push({name: 'lesson_page', params: {pk: lesson.pk}})" small primary v-if="lesson.status == 0">Начать</v-btn>
						<v-btn @click="router_push({name: 'lesson_page', params: {pk: lesson.pk}})" small primary v-else-if="lesson.status == 1">Продолжить</v-btn>
						<v-btn @click="router_push({name: 'lesson_page', params: {pk: lesson.pk}})" small primary v-else-if="lesson.status == 2">Еще раз</v-btn>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import global from "../../global"
export default {
	data() {
		return {
			pk: this.$route.params.pk,
			item: {},
			loading: true,
		}
	},
	methods: {
		router_push(data) {
			this.$router.push(data);
		},
	},
	created() {
		this.$Spin.show();
		this.$http.get(global.API_URL + 'learn/api/courses/' + this.pk).then(response => {
			console.log(response.body);

			this.item = response.body;
			document.title = this.item.title;
			this.loading = false;
			this.$Spin.hide();
		}, response => {
			this.$Spin.hide();
			this.$Message.error({content: 'AJAX error!', duration: 0, closable: true});
		});
	}
}
</script>

<style>

</style>
