<template>
	<div>
		<h2 v-if="!loading">Список курсов</h2>
		<div v-if="!loading">
			<div class="xs12 sm6 lg4 ma-2" v-for="item in entities" :key="item.title">
				<v-card>
					<router-link :to="{ name: 'course_page', params: {pk: item.pk} }" class="no_link_style">
						<div src="https://vuetifyjs.com/static/doc-images/cards/house.jpg" height="200px">
							<div fill-height fluid>
							<div fill-height>
								<div xs12 align-end flexbox>
								<span class="headline white--text" v-text="item.title"></span>
								</div>
							</div>
							</div>
						</div>
					</router-link>
					<div class="white">
						<p>
							<router-link :to="{ name: 'course_page', params: {pk: item.pk} }">
								<Button type="warning" v-if="item.status == 0 && !item.is_free">Купить</Button>
								<Button type="success" v-else-if="item.status == 0 && item.is_free">Начать</Button>
								<Button type="primary" v-else-if="item.status == 1">Продолжить</Button>
								<Button v-else-if="item.status == 2">Еще раз</Button>
							</router-link>
						</p>
					</div>
				</v-card>
			</div>
		</div>
	</div>
</template>

<script>
import global from "../../global"
export default {
	data: () => ({
		entities: [],
		loading: true,
	}),
	created () {
		this.$Spin.show();
		this.$http.get(global.API_URL + 'learn/api/courses/').then(response => {
			console.log(response);
			this.entities = response.body;
			this.loading = false;
			this.$Spin.hide();
		}, response => {
			this.$Spin.hide();
			this.$Message.error({content: 'AJAX error!', duration: 0, closable: true});
		});
	}
}
</script>

<style>

</style>
