<template>
	<div>
		<h2 v-if="!loading">Мои курсы</h2>
		<div v-if="loading">
			<div style="height: 100px; width: 100px; margin: 0 auto">
				loading
			</div>
		</div>
		<div v-if="!loading">
			<div class="xs12 sm6 lg4" v-for="item in entities" :key="item.course.title">
				<div>
					<router-link :to="{ name: 'course_execution_page', params: {pk: item.pk} }" class="no_link_style">
						<div src="https://vuetifyjs.com/static/doc-images/cards/house.jpg" height="200px">
							<div fill-height fluid>
							<div fill-height>
								<div xs12 align-end flexbox>
								<h3 class="headline white--text">{{ item.course.title }}</h3>
								</div>
							</div>
							</div>
						</div>
					</router-link>
					<div class="white">
						<p>
							<router-link :to="{ name: 'course_execution_page', params: {pk: item.pk} }">
								<Button type="primary" v-if="item.course.status == 0 && !item.course.is_free">Купить</Button>
								<Button type="primary" v-else-if="item.course.status == 0 && item.course.is_free">Начать</Button>
								<Button type="primary" v-else-if="item.course.status == 1">Продолжить</Button>
								<Button type="primary" v-else-if="item.course.status == 2">Открыть</Button>
							</router-link>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import global from "../../global"
export default {
	data: () => ({
		entities: [],
		loading: true,
	}),
	created () {
		this.$Spin.show();
		this.$http.get(global.API_URL + 'learn/api/course_executions/').then(response => {
			console.log(response);
			this.entities = response.body;
			this.loading = false;
			this.$Spin.hide();
		}, response => {
			this.$Spin.hide();
			this.$Message.error({content: 'AJAX error!', duration: 0, closable: true});
		});
	}
}
</script>

<style>

</style>
