<template>
	<div>
		<div v-if="loading">
			<div style="height: 100px; width: 100px; margin: 0 auto">
				loading
			</div>
		</div>
		<div v-if="!loading">
			<div>
				<h2>{{ item.course.title }}</h2>
				<p>{{ item.course.desc }}</p>
				
				<h4>Список уроков:</h4>
				<div>
					<div class="lesson_item" v-for="lesson_item in item.course.lessons" :key="lesson_item.pk">
						<hr>
						<h3>{{ lesson_item.title }}</h3>
						<p>{{ lesson_item.short_desc }}</p>
						<Button type="primary" size="small" v-if="lesson_item.status == 1" @click="router_push({name: 'lesson_execution_page', params: {pk: lesson_item.last_execution_id}})">Продолжить</Button>
						<Button type="primary" size="small" v-if="lesson_item.status == 2" @click="router_push({name: 'lesson_execution_page', params: {pk: lesson_item.last_execution_id}})">Открыть</Button>
						<Button type="primary" size="small" v-if="lesson_item.status == 0" @click="start_lesson(lesson_item)">Начать</Button>
						<Button type="primary" size="small" v-if="lesson_item.status == 2" @click="start_lesson(lesson_item)">Еще раз</Button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import global from "../../global"
export default {
	data() {
		return {
			pk: this.$route.params.pk,
			item: {},
			loading: true,
		}
	},
	methods: {
		router_push(data) {
			this.$router.push(data);
		},
		start_lesson(lesson_item) {
			this.$Spin.show();
			this.$http.post(global.API_URL + 'learn/api/lessons/' + lesson_item.pk + '/start/').then(response => {
				console.log(response.body);
				
				this.loading = false;
				this.$Spin.hide();
				this.$router.push({ name: 'lesson_execution_page', params: { pk: response.body.pk }});
			}, response => {
				this.$Spin.hide();
				this.$Message.error({content: 'AJAX error while creating!', duration: 0, closable: true});
			});
		}
	},
	created() {
		this.$Spin.show();
		this.$http.get(global.API_URL + 'learn/api/course_executions/' + this.pk).then(response => {
			console.log(response.body);

			this.item = response.body;
			document.title = this.item.course.title;
			this.loading = false;
			this.$Spin.hide();
		}, response => {
			this.$Spin.hide();
			this.$Message.error({content: 'AJAX error!', duration: 0, closable: true});
		});
	}
}
</script>

<style scoped>
.lesson_item {
	margin-left: 10px;
}
</style>
