<template>
	<div>
		<div v-if="loading">
			<div style="height: 100px; width: 100px; margin: 0 auto">
				loading
			</div>
		</div>
		<div v-if="!loading">
			<div>
				<h2>{{ item.lesson.title }}</h2>
				<p>{{ item.lesson.html }}</p>
			</div>
			<h4>Задачи:</h4>
			<div>
				<div class="task_item" v-for="task_item in item.tasks" :key="task_item.pk">
					{{ task_item.title }}
					<Button type="primary" size="small" v-if="task_item.status == 1" @click="router_push({name: 'task_execution_page', params: {pk: task_item.last_execution_id}})">Продолжить</Button>
					<Button type="primary" size="small" v-if="task_item.status == 2" @click="router_push({name: 'task_execution_page', params: {pk: task_item.last_execution_id}})">Открыть</Button>
					<Button type="primary" size="small" v-if="task_item.status == 0" @click="start_task(task_item)">Начать</Button>
					<Button type="primary" size="small" v-if="task_item.status == 2" @click="start_task(task_item)">Еще раз</Button>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import global from "../../global"
export default {
	data() {
		return {
			pk: this.$route.params.pk,
			item: {},
			loading: true,
		}
	},
	methods: {
		router_push(data) {
			this.$router.push(data);
		},
		alert(data) {
			alert(data);
		},
		start_task(task_item) {
			this.$Spin.show();
			this.$http.post(global.API_URL + 'learn/api/tasks/' + task_item.pk + '/start/').then(response => {
				console.log(response.body);
				
				this.loading = false;
				this.$Spin.hide();
				this.$router.push({ name: 'task_execution_page', params: { pk: response.body.pk }});
			}, response => {
				this.$Spin.hide();
				this.$Message.error({content: 'AJAX error while creating!', duration: 0, closable: true});
			});
		},
	},
	created() {
		this.$Spin.show();
		this.$http.get(global.API_URL + 'learn/api/lessonexecution/' + this.pk).then(response => {
			console.log(response.body);

			this.item = response.body;
			document.title = this.item.lesson.title;
			this.loading = false;
			this.$Spin.hide();
		}, response => {
			this.$Spin.hide();
			this.$Message.error({content: 'AJAX error!', duration: 0, closable: true});
		});
	}
}
</script>

<style>
.task_item {
	margin-left: 10px;
}
</style>
