<template>
	<v-container :class="{'fill-height': loading}">
		<v-layout v-if="loading">
			<div style="height: 100px; width: 100px; margin: 0 auto">
				loading
			</div>
		</v-layout>
		<v-layout v-if="!loading">
			<div>
				<h3>{{ item.title }}</h3>
				<p>{{ item.html | safe }}</p>
			</div>
		</v-layout>
	</v-container>
</template>

<script>
import global from "../../global"
export default {
	data() {
		return {
			pk: this.$route.params.pk,
			item: {},
			loading: true,
		}
	},
	created() {
		this.$Spin.show();
		this.$http.get(global.API_URL + 'learn/api/lessons/' + this.pk).then(response => {
			console.log(response.body);

			this.item = response.body;
			document.title = this.item.title;
			this.loading = false;
			this.$Spin.hide();
		}, response => {
			this.$Spin.hide();
			this.$Message.error({content: 'AJAX error!', duration: 0, closable: true});
		});
	}
}
</script>

<style>

</style>
