<template>
	<div>
		<div v-if="loading">
			<div style="height: 100px; width: 100px; margin: 0 auto">
				loading
			</div>
		</div>
		<div v-if="!loading">
			<h3>{{ item.task.title }}</h3>
			<p>{{ item.task.desc }}</p>
			<div v-if="item.is_correct == null">
				<div class="task_one" v-if="item.task.task_type == 'O'">

				</div>
				<div class="task_multiple" v-else-if="item.task.task_type == 'M'">

				</div>
				<div class="task_sequence" v-else-if="item.task.task_type == 'S'">

				</div>
				<div class="task_answer" v-else-if="item.task.task_type == 'A'">

				</div>
				<div class="task_code" v-else-if="item.task.task_type == 'C'">
					<table class="primary_table">
						<tr>
							<th>№</th>
							<th>Пример ввода</th>
							<th>Пример вывода</th>
						</tr>
						<tr v-for="pair in item.pairs" :key="pair.pk">
							<td>{{ pair.number }}</td>
							<td><span class="mono_span">{{ pair.input_str }}</span></td>
							<td><span class="mono_span">{{ pair.output_str }}</span></td>
						</tr>
					</table>
				</div>
				<br>
				<h3>Ваше решение</h3>
				<editor v-model="user_code" @init="editorInit();" lang="c_cpp" theme="chrome" width="100%" height="200"></editor>
				<input type="submit" value="Отправить">
			</div>
		</div>
	</div>
</template>

<script>
import global from "../../global"
import Editor from '../../modules/ace'

export default {
	data() {
		return {
			pk: this.$route.params.pk,
			item: {},
			loading: true,
			user_code: "#include <iostream>\nusing namespace std;\n\nint main() {\n	// пишите код здесь\n	return 0;\n}",
		}
	},
	components: {
        editor: Editor,
    },
	methods:{
        editorInit:function () {
            require('brace/mode/c_cpp');
            require('brace/mode/javascript');
            require('brace/mode/less');
            require('brace/theme/chrome');
        }
    },
	created() {
		this.$Spin.show();
		this.$http.get(global.API_URL + 'learn/api/taskexecution/' + this.pk).then(response => {
			console.log(response.body);

			this.item = response.body;
			document.title = this.item.task.title;
			this.loading = false;
			this.$Spin.hide();
		}, response => {
			this.$Spin.hide();
			this.$Message.error({content: 'AJAX error!', duration: 0, closable: true});
		});
	},
}
</script>

<style>
.primary_table {
    border-collapse: collapse;
}
.primary_table th, .primary_table td {
    border: 1px solid black;
	padding: 3px;
}
.primary_table td {
    vertical-align: top;
}
.mono_span {
	font-family: Consolas, monospace;
	white-space: pre;
}
</style>
