<template>
	<v-container :class="{'fill-height': loading}">
		<v-layout v-if="loading">
			<div style="height: 100px; width: 100px; margin: 0 auto">
				<v-progress-circular indeterminate v-bind:size="70" v-bind:width="7" class="primary--text"></v-progress-circular>
			</div>
		</v-layout>
		<v-layout v-if="!loading">
			<div>
				<h3>{{ blog.title }}</h3>
				<p>{{ blog.body }}</p>
			</div>
		</v-layout>
	</v-container>
</template>

<script>
import global from "../../global"
export default {
	data() {
		return {
			id: this.$route.params.id,
			blog: {},
			loading: true,
		}
	},
	created() {
	}
}
</script>

<style>

</style>
