<template>
	<div>
		<div v-if="loading">
			<div style="height: 100px; width: 100px; margin: 0 auto">
				loading
			</div>
		</div>
		<div v-if="!loading">
			<div>
				<template v-for="item in items" v-bind:key="item.pk">
					<div v-if="item.header">{{ item.header }}</div>
					<div v-else-if="item.divider"></div>
					<div v-else>
						<img v-bind:src="item.avatar"/>
						<div v-html="item.title"></div>
						<div v-html="item.subtitle"></div>
					</div>
				</template>
			</div>
		</div>
	</div>
</template>

<script>
import global from "../../global"
export default {
	data() {
		return {
			id: this.$route.params.id,
			blog: {},
			loading: true,
			items: [
				{ header: 'Today' },
				{ avatar: '/static/doc-images/lists/1.jpg', title: 'Brunch this weekend?', subtitle: "<span class='grey--text text--darken-2'>Ali Connors</span> — I'll be in your neighborhood doing errands this weekend. Do you want to hang out?" },
				{ divider: true, inset: true },
				{ avatar: '/static/doc-images/lists/2.jpg', title: 'Summer BBQ <span class="grey--text text--lighten-1">4</span>', subtitle: "<span class='grey--text text--darken-2'>to Alex, Scott, Jennifer</span> — Wish I could come, but I'm out of town this weekend." },
				{ divider: true, inset: true },
				{ avatar: '/static/doc-images/lists/3.jpg', title: 'Oui oui', subtitle: "<span class='grey--text text--darken-2'>Sandra Adams</span> — Do you have Paris recommendations? Have you ever been?" },
				{ divider: true, inset: true },
				{ avatar: '/static/doc-images/lists/4.jpg', title: 'Birthday gift', subtitle: "<span class='grey--text text--darken-2'>Trevor Hansen</span> — Have any ideas about what we should get Heidi for her birthday?" },
				{ divider: true, inset: true },
				{ avatar: '/static/doc-images/lists/5.jpg', title: 'Recipe to try', subtitle: "<span class='grey--text text--darken-2'>Britta Holt</span> — We should eat this: Grate, Squash, Corn, and tomatillo Tacos." },
			]
		}
	},
	created() {
		this.loading = false;
	}
}
</script>

<style>

</style>
