<template>
	<div>
		<h4>Обзор</h4>
		<div v-if="loading" class="row justify-center">
			<q-spinner name="puff" color="secondary" :size="150" />
		</div>
		<div v-else class="row justify-center">
			<q-card class="dashcard">
				<q-card-title>
					{{ incompleted_task_code_executions_count | pluralize(['незавершенных решений', 'незавершенное решение', 'незавершенных решения']) }}
				</q-card-title>
				<q-list highlight inset-separator v-if="incompleted_task_code_executions_count > 0">
					<q-item v-for="code_item in incompleted_task_code_executions" :key="code_item.pk" v-if="code_item.is_active">
						<q-item-main :label="code_item.task.title"/>
						<q-item-side right>
							<q-item-tile stamp>
								{{ code_item.started_at | relative_time }} 
								<a :loading="delete_loading[code_item.pk]" color="primary" small @click="delete_execution(code_item)">
									<span title="Удалить" v-if="!delete_loading[code_item.pk]">x</span>
									<span v-else><q-spinner /></span>
								</a>
							</q-item-tile>
							<q-btn outline @click="router_push({name: 'task_execution_page', params: {pk: code_item.pk}})" color="primary" small>Продолжить</q-btn>
						</q-item-side>
					</q-item>

				</q-list>
				<q-list highlight inset-separator v-if="incompleted_task_code_executions_count == 0">
					<q-item>
						<q-item-main label="Тут пока ничего нет..." sublabel="Здесь будут отображены решения, которые Вы не завершили"/>
					</q-item>
				</q-list>
			</q-card>

			<q-card class="dashcard">
				<q-card-title>
					{{ completed_task_code_executions_count | pluralize(['завершенных решений', 'завершенное решение', 'завершенных решения']) }}
				</q-card-title>
				<q-list highlight inset-separator v-if="completed_task_code_executions_count > 0">
					<q-item v-for="code_item in completed_task_code_executions" :key="code_item.pk">
						<q-item-main :label="code_item.task.title" :sublabel="get_sublabel(code_item)"/>
						<q-item-side right>
							<q-item-tile stamp>
								<h6 v-if="code_item.checked_at !== null && code_item.percent > 0">{{ code_item.mark }} ({{ code_item.percent }}%)</h6>
								<h6 v-else-if="code_item.checked_at !== null">{{ code_item.mark }}</h6>
								<h6 v-else-if="code_item.percent > 0">{{ code_item.percent }}%</h6>
							</q-item-tile>
							<q-btn outline @click="router_push({name: 'task_execution_page', params: {pk: code_item.pk}})" :color="get_color(code_item)" small>Открыть</q-btn>
						</q-item-side>
					</q-item>
				</q-list>
				<q-list highlight inset-separator v-if="completed_task_code_executions_count == 0">
					<q-item>
						<q-item-main label="Тут пока ничего нет..." sublabel='Зайдите в меню "Мои курсы", откройте урок и выполните задание'/>
					</q-item>
				</q-list>
				<q-card-actions v-if="completed_task_code_executions_count > 5" align="end">
					<q-btn @click="router_push({name: 'completed_code_executions'})" color="primary">Открыть все</q-btn>
				</q-card-actions>
			</q-card>
		</div>
	</div>
</template>

<script>
import global from '../../global'
import {
	QCardTitle,
	QCardActions,
	QCardSeparator,
	QCardMain,
	QCard,
	QBtn,
	QList,
	QListHeader,
	QItemSeparator,
	QItem,
	QItemSide,
	QItemMain,
	QItemTile,
	Toast,
	Loading,
	QSpinner,
	QPopover,
} from 'quasar'

export default {
	data: () => ({
		loading: true,
		incompleted_task_code_executions: [],
		completed_task_code_executions: [],
		incompleted_task_code_executions_count: 0,
		completed_task_code_executions_count: 0,
		delete_loading: {},
		is_active: {},
	}),
	components: {
		QCardTitle,
		QCardActions,
		QCardSeparator,
		QCardMain,
		QCard,
		QBtn,
		QList,
		QListHeader,
		QItemSeparator,
		QItem,
		QItemSide,
		QItemMain,
		QItemTile,
		Toast,
		Loading,
		QSpinner,
		QPopover,
	},
	methods: {
		router_push(data) {
			this.$router.push(data);
		},
		get_sublabel(code_item) {
			return code_item.notes_count > 0 ? global.pluralize(code_item.notes_count, ['заметок', 'заметка', 'заметки']) : (code_item.status_string ? code_item.status_string : '');
		},
		get_color(code_item) {
			if (code_item.is_correct == true) {
				return "positive";
			}
			else if (code_item.is_correct == false) {
				return "negative";
			}
			return "primary";
		},
		set_loading(key, val) {
			var data = {};
			data[key] = val;
			this.delete_loading = Object.assign({}, this.delete_loading, data);
		},
		set_active(key, val) {
			var data = {};
			data[key] = val;
			this.is_active = Object.assign({}, this.is_active, data);
		},
		return_execution(task_exec) {
			var context = this;
			this.$http.put(global.API_URL + 'learn/api/taskexecution/' + task_exec.pk + '/active').then(response => {
				task_exec.is_active = true;
				this.incompleted_task_code_executions_count++;
				//Toast.create.positive('Удаление отменено');
			}, response => {
				global.process_error(this, response);
				this.set_loading(task_exec.pk, false);
			});
		},
		delete_execution(task_exec) {
			if (confirm('Уверены, что хотите удалить выполнение задания "' + task_exec.task.title + '"?')) {
				this.set_loading(task_exec.pk, true);

				var context = this;
				this.$http.delete(global.API_URL + 'learn/api/taskexecution/' + task_exec.pk + '/active').then(response => {
					this.set_loading(task_exec.pk, false);

					task_exec.is_active = false;
					this.incompleted_task_code_executions_count--;

					Toast.create({
						html: 'Выполнение задания "' + task_exec.task.title + '" удалено',
						icon: 'delete',
						timeout: 5000,
						//color: '#f8c1c1',
						//bgColor: 'white',
						button: {
							label: 'Отменить',
							handler () {
								context.return_execution(task_exec);
							},
							//color: '#000',
						},
					});
				}, response => {
					global.process_error(this, response);
					this.set_loading(task_exec.pk, false);
				});
			}
		},
	},
	created () {
		this.$http.get(global.API_URL + 'learn/api/dashboard/').then(response => {
			// console.log(response);
			this.incompleted_task_code_executions = response.body.incompleted_task_code_executions;
			this.completed_task_code_executions = response.body.completed_task_code_executions;
			this.incompleted_task_code_executions_count = response.body.incompleted_task_code_executions_count;
			this.completed_task_code_executions_count = response.body.completed_task_code_executions_count;
			
			this.incompleted_task_code_executions.forEach(element => {
				this.delete_loading[element.pk] = false;
				this.is_active[element.pk] = true;
			});

			this.loading = false;
		}, response => {
			global.process_error(this, response, true);
		});
	}
}
</script>

<style scoped>
.dashcard {
	background: white;
	width: 400px;
}
.dashcard h6 {
	margin: 0;
}
</style>
