<template>
	<div class="row justify-center">
		<q-card style="background:white; margin-top:100px">
			<q-card-title>
				Авторизация
			</q-card-title>
			<q-card-main>
				<span>Войдите в аккаунт, чтобы получить доступ к платформе</span>
				<Form ref="login_form" :model="credentials" :rules="rules" style="width:400px">
					<q-alert v-if="form_invalid" color="negative" style="margin-bottom: 1.5rem">
						Невозможно войти с предоставленными учетными данными.
					</q-alert>

					<q-field prop="username" label="Логин" icon="ion-ios-person" color="primary">
						<q-input type="text" v-model="credentials.username" placeholder="Логин"/>
					</q-field>
					<q-field prop="password" label="Пароль" icon="ion-ios-locked" color="primary">
						<q-input type="password" v-model="credentials.password" placeholder="Пароль"/>
					</q-field>
					<q-field>
						<q-btn :loading="is_sending" @click="submit" color="primary">
							<span v-if="!is_sending">Войти</span>
							<span v-else>Отправка...</span>
						</q-btn>
					</q-field>

					<!-- because iView form doesn't support submit property -->
					<input class="hidden" ref="submit_btn" type="submit">
				</Form>
			</q-card-main>
		</q-card>
	</div>
</template>

<script>
	import global from '../../global'
	import {
		QCard,
		QCardTitle,
		QCardMain,
		QCardActions,
		QBtn,
		QIcon,
		QField,
		QInput,
		Toast,
		QAlert,
		} from 'quasar'
	export default {
		components:{
			QCard,
			QCardTitle,
			QCardMain,
			QCardActions,
			QField,
			QBtn,
			QIcon,
			QInput,
			QAlert,
		},
		data() {
			return {
				is_sending: false,
				form_invalid: false,
				// We need to initialize the component with any
				// properties that will be used in it
				credentials: {
					username: '',
					password: ''
				},
				rules: {
                    username: [
                        { required: true, message: 'Введите логин', trigger: 'blur' }
                    ],
                    password: [
                        { required: true, message: 'Введите пароль', trigger: 'blur' },
                        { type: 'string', min: 6, message: 'Пароль состоит минимум из 6 символов', trigger: 'blur' }
                    ]
                }
			}
		},
		methods: {
			submit(event) {
				event.preventDefault();
				var credentials = {
					username: this.credentials.username,
					password: this.credentials.password,
					guid: localStorage.getItem('guid'),
					luid: sessionStorage.getItem('luid'),
				}
				this.is_sending = true;
				this.form_invalid = false;
				this.$http.post(global.LOGIN_URL, credentials).then(response => {
					// console.log(response);
					this.$store.commit("LOGIN", response.body, {module: 'user_app'});
					this.$router.push('dashboard');
					Toast.create.positive({
						html: 'Вы успешно вошли',
						timeout: 5000,
					});
					this.is_sending = false;
				}, response => {
					this.is_sending = false;
					if (response.status == 400) { // Bad Request
						this.form_invalid = true;
						if (response.body.non_field_errors) {
							Toast.create.negative({
								html: 'Ошибка с кодом ' + response.status + ": " + response.body.non_field_errors.join(", "),
								icon: 'alarm_add',
								timeout: 5000,
							});
						}
						else {
							Toast.create.negative({
								html: 'Ошибка введенных данных',
								icon: 'alarm_add',
								timeout: 5000,
							});
						}
					}
					else {
						global.process_error(this, response, true);
					}
				});
			},
			alert(data) {
				alert(data);
			},
		},
		mounted() {
			// bullshit because iView form doesn't support submit property
			this.$refs.submit_btn.parentElement.addEventListener("submit", this.submit);
		},
	}
</script>

<style scoped>
.ivu-icon {
	font-size: large;
}
.hidden {
	visibility: hidden;
}
</style>
