<template>
	<div>
		<div v-if="loading" class="row justify-center">
			<q-spinner name="puff" color="secondary" :size="150" />
		</div>
		<div v-else-if="!loading && !profile" class="row justify-center">
			Ошибка загрузки данных. Попробуйте обновить страницу.
		</div>
		<div v-else class="row justify-center">
			<div class="col-xs-12 col-lg-4 self-stretch">
				<p>Фото</p>
				<p>{{ get_name() }}</p>
				<p><strong>Уровень</strong>: {{ profile.level }}</p>
				<p><strong>Опыт</strong>: {{ profile.experience }}</p>
				<p><strong>Заполненность</strong>: {{ profile.profile_occupancy }}%</p>
				<p><strong>Рейтинг</strong>: {{ profile.rating }}</p>
				<p></p>
			</div>
			<div class="col-xs-12 col-lg-8 self-stretch">
				<p><strong>Дата рождения</strong>: {{ profile.birth_date }}</p>
				<p><strong>ВКонтакте</strong>: {{ profile.vk_public }}</p>
				<p><strong>Facebook</strong>: {{ profile.fb_public }}</p>
				<p><strong>Skype</strong>: {{ profile.skype }}</p>
				<p><strong>Instagram</strong>: {{ profile.instagram }}</p>
				<!--
				<p></p>
				<p><strong>Ачивки</strong>: (TODO)</p>
				<p><strong>Навыки</strong>: (TODO)</p>
				-->
			</div>
		</div>
	</div>
</template>

<script>
import global from '../../global'
import {
	QCardTitle,
	QCardActions,
	QCardSeparator,
	QCardMain,
	QCard,
	QBtn,
	QList,
	QListHeader,
	QItemSeparator,
	QItem,
	QItemSide,
	QItemMain,
	QItemTile,
	Toast,
	Loading,
	QSpinner,
	QPopover,
} from 'quasar'

export default {
	data: () => ({
		loading: true,
		profile: null,
	}),
	components: {
		QCardTitle,
		QCardActions,
		QCardSeparator,
		QCardMain,
		QCard,
		QBtn,
		QList,
		QListHeader,
		QItemSeparator,
		QItem,
		QItemSide,
		QItemMain,
		QItemTile,
		Toast,
		Loading,
		QSpinner,
		QPopover,
	},
	methods: {
		router_push(data) {
			this.$router.push(data);
		},
		get_name() {
			if (this.profile.name && this.profile.last_name) {
				return this.profile.name + " " + this.profile.last_name;
			}
			else if (this.profile.name) {
				return this.profile.name;
			}
			else {
				return this.$store.state.user_app.user.username;
			}
		}
	},
	created () {
		this.$http.get(global.API_URL + 'user_app/api/my_profile/').then(response => {
			// console.log(response);
			this.profile = response.body.profile;
			this.loading = false;
		}, response => {
			global.process_error(this, response, true);
			this.loading = false;
		});
	}
}
</script>

<style scoped>
.dashcard {
	background: white;
	width: 400px;
}
.dashcard h6 {
	margin: 0;
}
</style>
