<template>
	<q-layout ref="layout" view="hHh Lpr fFf" :left-breakpoint="1023" :left-style="{'width':'210px'}" :page-style="{'margin':'15px'}">
		<q-toolbar slot="header">
			<q-btn flat @click="$refs.layout.toggleLeft()">
				<q-icon name="menu" />
			</q-btn>
			<q-toolbar-title>
				Upper Mind
			</q-toolbar-title>
			<div v-if="user.is_authenticated">
				<span class="money_holder gt-sm">
					<span>
						<q-tooltip>Монет на счету</q-tooltip>
						<q-icon name="fiber_smart_record" />
						{{ user.coins }}
					</span>
					<span>
						<q-tooltip>Кристаллов на счету</q-tooltip>
						<q-icon name="network_wifi" />
						{{ user.crystals }}
					</span>
					<span v-if="user.rubles > 0">
						<q-tooltip>Рублей на счету</q-tooltip>
						<q-icon name="account_balance_wallet" />
						{{ user.rubles }}
					</span>
				</span>
				<q-btn flat round icon="ion-ios-bell" small style="transform:translate(-8px,0px)" @click="open_notifications()">
					<q-tooltip>Уведомления</q-tooltip>
					<q-chip v-if="user.notifications_count > 0" floating color="red" style="transform:translate(9px,8px)">{{ user.notifications_count }}</q-chip>
					<q-popover ref="popover1">
						<q-list link separator class="scroll" style="min-width: 300px">
							<q-item v-if="user.notifications_count == 0">
								Новых уведомлений нет
							</q-item>
							<q-item v-else-if="user.notifications_count > 0 && is_notification_loading">
								<q-spinner name="puff" color="secondary" :size="30" />
							</q-item>
							<q-item v-else-if="user.notifications_count > 0 && !is_notification_loading && notifications_list.length == 0">
								Ошибка при загрузке данных. Попробуйте позже
							</q-item>
							<q-item v-for="notify_item in notifications_list" :key="notify_item.obj.pk">
								<div>
									<div v-if="notify_item.type == 'condition'" @click="router_push({name: 'task_execution_page', params: {pk: notify_item.obj.task_exec.pk}}), $refs.popover1.close()">
										Вами учтено условие <strong>{{ notify_item.obj.task_condition.title }}</strong> решения <strong>{{ notify_item.obj.task_exec.task.title }}</strong>
									</div>
									<div v-else-if="notify_item.type == 'task_check'" @click="router_push({name: 'task_execution_page', params: {pk: notify_item.obj.pk}}), $refs.popover1.close()">
										Решение <strong>{{ notify_item.obj.task.title }}</strong> проверено преподавателем
									</div>
									<div v-else-if="notify_item.type == 'money_back_te'">
										Вам вернули {{ get_money_string(notify_item.data) }} за решение <strong>{{ notify_item.obj.task.title }}</strong>
									</div>
									<div v-else>
										Неизвестное уведомление. Обновите версию
									</div>
									<span class="relative_time">{{ notify_item.event_time | relative_time }}</span>
								</div>
							</q-item>
						</q-list>
					</q-popover>
				</q-btn>
				<q-item dense class="profile_holder gt-sm">
					<q-item-side avatar="/statics/profile_mini.jpg"/>
					<q-item-main :label="get_user_name"/>
					<q-item-side>
						<q-btn small round flat icon="ion-arrow-down-b" color="white">
							<q-popover ref="popover">
								<q-list separator link>
									<q-item @click="$refs.popover.close()"> <!-- router_to('my_profile') -->
										Профиль
									</q-item>
									<q-item @click="$refs.popover.close()">
										Настройки
									</q-item>
									<q-item @click="logout()">
										Выход
									</q-item>
								</q-list>
							</q-popover>
						</q-btn>
					</q-item-side>
				</q-item>
			</div>
			<div v-else class="btn_holder">
				<router-link to="login"><q-btn type="primary" outline color="white">Войти</q-btn></router-link>
			</div>
		</q-toolbar>
		<div slot="left" >
			<q-list no-border link inset-separator>
				<q-side-link v-if="user.is_authenticated" class="lt-md" item name="Профиль" :to="{ name: 'my_profile' }">
					<q-item-side avatar="/statics/profile_mini.jpg"/>
					<q-item-main :label="get_user_name"/>
				</q-side-link>
				<q-item v-if="user.is_authenticated" class="lt-md">
					<span class="money_holder lt-md">
						<span>
							<q-tooltip>Монет на счету</q-tooltip>
							<q-icon name="fiber_smart_record" />
							{{ user.coins }}
						</span>
						<span>
							<q-tooltip>Кристаллов на счету</q-tooltip>
							<q-icon name="network_wifi" />
							{{ user.crystals }}
						</span>
						<span v-if="user.rubles > 0">
							<q-tooltip>Рублей на счету</q-tooltip>
							<q-icon name="account_balance_wallet" />
							{{ user.rubles }}
						</span>
					</span>
				</q-item>
				<q-item v-if="user.is_authenticated" class="lt-md" @click="logout()">
					Выход
				</q-item>
				<q-list-header>
					Доступные разделы:
				</q-list-header>
				<q-side-link item v-for="item in menu_items" :key="item.text" :name="item.route.name" :to="item.route">
					<q-item-side :icon="item.icon" />
					<q-item-main>
						<span class="layout-text">{{ item.text }}</span>
					</q-item-main>
				</q-side-link>
			</q-list>
		</div>
		<router-view />
	</q-layout>
</template>

<script>
import global from "./global"
import {
	QPopover,
	QChip,
	QLayout,
	QToolbar,
	QToolbarTitle,
	QBtn,
	QIcon,
	QList,
	QListHeader,
	QItem,
	QItemSide,
	QItemMain,
	QSideLink,
	Toast,
	QTooltip,
	QSpinner,
} from 'quasar'

export default {
	components: {
		QPopover,
		QChip,
		QLayout,
		QToolbar,
		QToolbarTitle,
		QBtn,
		QIcon,
		QList,
		QListHeader,
		QItem,
		QItemSide,
		QItemMain,
		QSideLink,
		QTooltip,
		QSpinner,
	},
	data: () => ({
		menu_items_raw: [
			{
				icon: "ion-ios-monitor",
				text: "Обзор",
				route: { name: "dashboard" },
				need_auth: true
			},
			/*
			{
				icon: "ion-university",
				text: "Курсы",
				route: { name: "courses" },
			},
			*/
			{
				icon: "ion-university",
				text: "Мои курсы",
				route: { name: "course_executions" },
				need_auth: true
			},
		],
		is_notification_loading: false,
		notifications_list: [],
		get_new_loading: false,
	}),
	methods: {
		alert(data) {
			alert(data);
		},
		router_push(data) {
			this.$router.push(data);
		},
		router_to(route_name) {
			this.$router.push({ name: route_name });
		},
		logout() {
			this.$http.get(global.LOGOUT_URL).then(response => {
				Toast.create.positive({
					html: 'Вы успешно вышли из аккаунта',
					timeout: 5000,
				});
				global.logout(this);
				this.$router.push({ name: 'home' });
			}, response => {
				console.error('Logout error: Error with code ' + response.status);
				global.logout(this);
				this.$router.push({ name: 'home' });
			});
		},
		open_notifications() {
			if (this.$store.state.user_app.user.notifications_count > 0) {
				this.load_notifications();
			}
		},
		load_notifications() {
			this.is_notification_loading = true;
			this.$http.get(global.API_URL + 'user_app/api/get_notifications/').then(response => {
				// console.log(response.body);
				this.is_notification_loading = false;
				this.notifications_list = response.body.notifications_list;
				this.$store.commit("SET_NOTIFICATIONS_COUNT", -1, {module: 'user_app'});
			}, response => {
				console.error('Notification error: Error with code ' + response.status);
				this.is_notification_loading = false;
			});
		},
		get_money_string (data) {
			var arr = [];
			if (data.coins > 0) {
				arr.push(global.pluralize(data.coins, ["монет", "монета", "монеты"]));
			}
			if (data.crystals > 0) {
				arr.push(global.pluralize(data.crystals, ["кристалов", "кристал", "кристала"]));
			}
			if (data.rubles > 0) {
				arr.push(global.pluralize(data.rubles, ["рублей", "рубль", "рубля"]));
			}
			if (arr.length == 3) {
				return arr[0] + ", " + arr[1] + " и " + arr[2];
			}
			else if (arr.length == 2) {
				return arr[0] + " и " + arr[1];
			}
			else if (arr.length == 1) {
				return arr[0];
			}
			else {
				return "???";
			}
		}
	},
	computed: {
		iconSize() {
			return this.spanLeft === 5 ? 14 : 24;
		},
		user() {
			return this.$store.state.user_app.user;
		},
		get_user_name() {
			if (this.$store.state.user_app.user.name) {
				return this.$store.state.user_app.user.name;
			}
			return this.$store.state.user_app.user.username;
		},
		menu_items() {
			if (!this.$store.state.user_app.user.is_authenticated) {
				return this.menu_items_raw.filter(function(item) {
					if (item.hasOwnProperty("need_auth") && item.need_auth === true) {
						return false;
					}
					return true;
				});
			} else {
				return this.menu_items_raw;
			}
		}
	},
	created() {
		// TODO: visit info send
		var context = this;
		if (global.debug_mode) {
			console.log("Debug mode is on. No visitor tracking");
		}
		else {
			this.$http.post(global.INITIAL_URL, {url: document.location.href, guid: localStorage.getItem('guid'), luid: sessionStorage.getItem('luid'), start_time: new Date().getTime(), time_shift: new Date().getTimezoneOffset()}).then(response => {
				// console.log(response.body);
				this.$store.commit("SET_VISIT_ID", response.body.visit_id);
				this.$store.commit("INITIAL", response.body, {module: 'user_app'});
				if (this.$store.state.user_app.user.is_authenticated && response.body.user == null) 
				{
					console.error("logout error");
					global.logout(this);
					this.$router.push({ name: 'home' });
				}
			}, response => {
				if (response.status == 401) {
					console.error("autologout");
					global.logout(this);
					this.$router.push({ name: 'home' });
				}
				else {
					global.process_error(this, response);
				}
			});
			setInterval(function() {
				if(context.$store.state.visit_id && !context.get_new_loading) {
					context.get_new_loading = true;
					context.$http.get(global.API_URL + 'user_app/api/get_new/').then(response => {
						// console.log(response.body);
						if (response.body.profile_update) {
							context.$store.commit("PROFILE_UPDATE", response.body.profile_update, {module: 'user_app'});	
						}
						if (context.$store.state.user_app.user.notifications_count < 1 && response.body.notifications_count > 0) {
							context.$store.commit("SET_NOTIFICATIONS_COUNT", response.body.notifications_count, {module: 'user_app'});
						}
						/*
						if (response.f_version && localStorage.getItem('f_version') !== response.f_version) {
							if (confirm("Доступна новая версия. Обновить?")) {
								localStorage.setItem('f_version', response.f_version);
								location.reload(true);
							}
						}
						*/
						context.get_new_loading = false;
					}, response => {
						context.get_new_loading = false;
						if (response.status == 401) {
							console.error("TODO: credentials request");
							global.logout(context);
							context.$router.push({ name: 'home' });
						}
						else {
							console.error('Error with code ' + response.status);
						}
					});
				}
			}, 10000);
		}
	},
};
</script>

<style>
/*
TODO: normal height
*/
h4 {
	margin-top:0px;
	text-align:center;
}

.spinner {
	margin-top: 40px;
}

.no_link_style {
	text-decoration: none;
	color: initial;
}
.user_hover {
	padding: 14px 5px;
}
.user_hover:hover {
	background-color: rgba(0, 0, 0, 0.3);
}
.hover_box:hover {
	background-color: rgba(0, 0, 0, 0.3) !important;
}

.layout {
	background: #f5f7f9;
	position: relative;
	overflow: hidden;
}
.layout-breadcrumb {
	padding: 10px 15px 0;
}
.layout-content {
	min-height: 200px;
	margin: 15px;
	overflow: hidden;
	background: #fff;
	border-radius: 4px;
}
.layout-content-main {
	padding: 10px;
}
.layout-copy {
	text-align: center;
	padding: 10px 0 20px;
	color: #9ea7b4;
}
.layout-menu-left {
	background: #464c5b;
}
.layout-header {
	height: 50px;
	background: #fff;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.layout-logo-left {
	width: 90%;
	height: 30px;
	background: #5b6270;
	color: white;
	border-radius: 3px;
	margin: 10px auto;
	text-align: center;
	font-size: 14pt;
}
.layout-ceiling-main a {
	color: #9ba7b5;
}
.layout-hide-text .layout-text {
	display: none;
}
.ivu-col {
	transition: width 0.2s ease-in-out;
}
.layout-ceiling-main{
	float: right;
	margin-right: 15px;
}
.layout-ceiling-text {
	padding: 15px 0;
}
.btn_holder {
	padding: 10px 0;
}
.layout-ceiling-text > .ivu-avatar-image {
	top: 10px;
}
.iconed {
	margin: 0 15px;
}
.line_warning
{
	background: rgba(255, 50, 50, 0.5);
	position: absolute;
}
.line_note
{
	background: rgba(70, 70, 70, 0.5);
	position: absolute;
}
.line_success
{
	background: rgba(50, 255, 50, 0.5);
	position: absolute;
}

.q-list-inset-separator > .q-item-division + .q-item-division:after, .q-item-division + .q-item-inset-separator:after {
	left: 0 !important;
}
.money_holder > span { 
	padding: 5px;
}
.profile_holder {
	float: right; 
	padding: 0px 0px 0px 10px;
}
.relative_time {
	color: rgba(0,0,0,0.54);
}
</style>
