<template>
	<div>
		<div v-if="loading">
			<div style="height: 100px; width: 100px; margin: 0 auto">
				<q-spinner name="puff" color="secondary" :size="150" />
			</div>
		</div>
		<h4 v-if="!loading">Список курсов</h4>
		<div v-if="!loading">
			<div class="xs12 sm6 lg4 ma-2" v-for="item in entities" :key="item.title">
				<v-card>
					<router-link :to="{ name: 'course_page', params: {pk: item.pk} }" class="no_link_style">
						<div src="https://vuetifyjs.com/static/doc-images/cards/house.jpg" height="200px">
							<div fill-height fluid>
								<div fill-height>
									<div xs12 align-end flexbox>
										<span class="headline white--text" v-text="item.title"></span>
									</div>
								</div>
							</div>
						</div>
					</router-link>
					<div class="white">
						<p>
							<router-link :to="{ name: 'course_page', params: {pk: item.pk} }">
								<Button type="warning" v-if="item.status == 0 && !item.is_free">Купить</Button>
								<Button type="success" v-else-if="item.status == 0 && item.is_free">Начать</Button>
								<Button type="primary" v-else-if="item.status == 1">Продолжить</Button>
								<Button v-else-if="item.status == 2">Еще раз</Button>
							</router-link>
						</p>
					</div>
				</v-card>
			</div>
		</div>
	</div>
</template>

<script>
import global from "../../global"
import {
	Toast,
	QSpinner,
} from 'quasar'
export default {
	components: {
		QSpinner,
	},
	data() {
		return {
			entities: [],
			loading: true,
		}
	},
	created () {
		this.$http.get(global.API_URL + 'learn/api/courses/').then(response => {
			// console.log(response);
			this.entities = response.body;
			this.loading = false;
		}, response => {
			global.process_error(this, response, true);
		});
	}
}
</script>

<style>

</style>
