<template>
	<div>
		<h4>Мои курсы</h4>
		<div v-if="loading" class="row justify-center">
			<q-spinner name="puff" color="secondary" :size="150" />
		</div>
		<div class="row" v-else>
			<div class="col-xs-12 col-sm-6 col-lg-4 col-xl-3" v-for="item in entities" :key="item.course.title">
				<q-card>
					<router-link :to="{ name: 'course_execution_page', params: {pk: item.pk} }" class="no_link_style">
						<q-card-media>
							<div class="img_container">
								<img src="~assets/placeholder-600x338.jpg" style="width: 100%" v-if="item.course.image == null">
								<img :src="item.course.image" style="width: 100%;" v-else>
							</div>
							<q-card-title slot="overlay">
								{{ item.course.title }}
							</q-card-title>
						</q-card-media>
					</router-link>
					<q-card-main>
						{{ item.course.short_desc }}
					</q-card-main>
					<q-card-separator />
					<q-card-actions>
						<router-link :to="{ name: 'course_execution_page', params: {pk: item.pk} }">
							<q-btn color="primary" v-if="item.course.status == 0 && !item.course.is_free">Купить</q-btn>
							<q-btn color="primary" v-else-if="item.course.status == 0 && item.course.is_free">Начать</q-btn>
							<q-btn color="secondary" v-else-if="item.course.status == 1">Продолжить</q-btn>
							<q-btn color="deep-orange" v-else-if="item.course.status == 2">Открыть</q-btn>
						</router-link>
					</q-card-actions>
				</q-card>
			</div>

		</div>
	</div>
</template>

<script>
import global from "../../global"
import {
	QCard,
	QCardTitle,
	QCardMain,
	QCardMedia,
	QCardActions,
	QCardSeparator,
  	QBtn,
  	QIcon,
  	QSpinner,
	Toast,
} from 'quasar'

export default {
	components: {
		QCard,
		QCardTitle,
		QCardMain,
		QCardMedia,
		QCardActions,
		QCardSeparator,
		QBtn,
		QIcon,
		QSpinner,
	},
	data() {
		return {
			entities: [],
			loading: true,
		}
	},
	created () {
		this.$http.get(global.API_URL + 'learn/api/course_executions/').then(response => {
			// console.log(response);
			this.entities = response.body;
			this.loading = false;
		}, response => {
			global.process_error(this, response, true);
		});
	}
}
</script>

<style scoped>
.card {
	background-color: white;
}
.img_container {
	position: relative;
	width: 100%;
	padding-top: 56.25%; /* 16:9 Aspect Ratio */
}
.img_container img {
	position: absolute;
	top: 0;
	left: 0;
}
</style>
