<template>
	<div :class="{'fill-height': loading}">
		<div v-if="loading">
			<div style="height: 100px; width: 100px; margin: 0 auto">
				<q-spinner name="puff" color="secondary" :size="150" />
			</div>
		</div>
		<div v-if="!loading">
			<div>
				<h4>{{ item.title }}</h4>
				<p v-html="item.desc"></p>

				<div>
					<div v-for="lesson in item.lessons" :key="lesson.pk">
						<v-divider></v-divider>
						<h6>{{ lesson.title }}</h6>
						<p>{{ lesson.short_desc }}</p>
						<v-btn @click="router_push({name: 'lesson_page', params: {pk: lesson.pk}})" small primary v-if="lesson.status == 0">Начать</v-btn>
						<v-btn @click="router_push({name: 'lesson_page', params: {pk: lesson.pk}})" small primary v-else-if="lesson.status == 1">Продолжить</v-btn>
						<v-btn @click="router_push({name: 'lesson_page', params: {pk: lesson.pk}})" small primary v-else-if="lesson.status == 2">Еще раз</v-btn>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import global from "../../global"
import {
	QSpinner,
	Toast,
} from 'quasar'
export default {
	components: {
		QSpinner,
	},
	data() {
		return {
			pk: this.$route.params.pk,
			item: {},
			loading: true,
		}
	},
	methods: {
		router_push(data) {
			this.$router.push(data);
		},
	},
	created() {
		this.$http.get(global.API_URL + 'learn/api/courses/' + this.pk).then(response => {
			// console.log(response.body);
			this.item = response.body;
			document.title = this.item.title;
			this.loading = false;
		}, response => {
			global.process_error(this, response, true);
		});
	}
}
</script>

<style>

</style>
