<template>
	<div>
		<div v-if="loading">
			<div style="height: 100px; width: 100px; margin: 0 auto">
				<q-spinner name="puff" color="secondary" :size="150" />
			</div>
		</div>
		<div v-if="!loading">
			<div>
				<h4>{{ item.course.title }}</h4>
				<p v-html="item.course.desc"></p>
				
				<h5>Список уроков:</h5>
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-4 self-stretch" v-for="lesson_item in item.course.lessons" :key="lesson_item.pk">
						<q-card class="bg-white self-stretch">
							<q-card-title>
								{{ lesson_item.title }}
							</q-card-title>
							<q-card-main>
								{{ lesson_item.short_desc }}
							</q-card-main>
							<q-card-actions>
								<q-btn color="secondary" small v-if="lesson_item.status == 1" @click="router_push({name: 'lesson_execution_page', params: {pk: lesson_item.last_execution_id}})">Продолжить</q-btn>
								<q-btn color="deep-orange" small v-if="lesson_item.status == 2" @click="router_push({name: 'lesson_execution_page', params: {pk: lesson_item.last_execution_id}})">Открыть</q-btn>
								<q-btn :loading="start_loading[lesson_item.pk]" color="primary" small v-if="lesson_item.status == 0" @click="start_lesson(lesson_item)">
									<span v-if="!start_loading[lesson_item.pk]">Начать</span>
									<span v-else><q-spinner /></span>
								</q-btn>
								<!--
								<q-btn :loading="start_loading[lesson_item.pk]" color="primary" small v-if="lesson_item.status == 2" @click="start_lesson(lesson_item)">
									<span v-if="!start_loading[lesson_item.pk]">Еще раз</span>
									<span v-else><q-spinner /></span>
								</q-btn>
								-->
							</q-card-actions>
						</q-card>
					</div>

				</div>
			</div>
		</div>
	</div>
</template>

<script>
import global from "../../global"
import {
	QBtn,
	QIcon,
	QSpinner,
	Toast,
	QCardActions,
	QCard,
	QCardTitle,
	QCardMain,
} from 'quasar'

export default {
	components: {
		QBtn,
		QIcon,
		QSpinner,
		QCardActions,
		QCard,
		QCardTitle,
		QCardMain,
	},
	data() {
		return {
			pk: this.$route.params.pk,
			item: {},
			loading: true,
			start_loading: {},
		}
	},
	methods: {
		router_push(data) {
			this.$router.push(data);
		},
		set_loading(key, val) {
			var data = {};
			data[key] = val;
			this.start_loading = Object.assign({}, this.start_loading, data);
		},
		start_lesson(lesson_item) {
			this.set_loading(lesson_item.pk, true);
			this.$http.post(global.API_URL + 'learn/api/lessons/' + lesson_item.pk + '/start/').then(response => {
				// console.log(response.body);
				this.loading = false;
				this.set_loading(lesson_item.pk, false);
				this.$router.push({ name: 'lesson_execution_page', params: { pk: response.body.pk }});
			}, response => {
				this.set_loading(lesson_item.pk, false);
				global.process_error(this, response);
			});
		},
	},
	created() {
		this.$http.get(global.API_URL + 'learn/api/course_executions/' + this.pk).then(response => {
			// console.log(response.body);
			this.item = response.body;
			this.item.course.lessons.forEach(element => {
				this.start_loading[element.pk] = false;
			});
			document.title = this.item.course.title;
			this.loading = false;
		}, response => {
			global.process_error(this, response, true);
		});
	}
}
</script>

<style scoped>
.lesson_item {
	margin-left: 10px;
}
</style>
