<template>
	<div>
		<div v-if="loading">
			<div style="height: 100px; width: 100px; margin: 0 auto">
				<q-spinner name="puff" color="secondary" :size="150" />
			</div>
		</div>
		<div v-if="!loading">
			<div>
				<h4>{{ item.lesson.title }}</h4>
				<p v-html="item.lesson.html"></p>
			</div>
			<h5>Задачи:</h5>
			<div class="bg-white">
				<q-list highlight inset-separator>
					<q-item v-for="task_item in item.tasks" :key="task_item.pk" class="task_item">
						<q-item-main :label="task_item.title" />
						<q-item-side right>
							<div>
								<q-btn color="secondary" small v-if="task_item.status == 1" @click="router_push({name: 'task_execution_page', params: {pk: task_item.last_execution_id}})">Продолжить</q-btn>
								<q-btn color="deep-orange" small v-if="task_item.status == 2" @click="router_push({name: 'task_execution_page', params: {pk: task_item.last_execution_id}})">Открыть</q-btn>
								<q-btn :loading="start_loading[task_item.pk]" color="primary" small v-if="task_item.status == 0 && task_item.can_be_uploaded" @click="start_task(task_item)">
									<span v-if="!start_loading[task_item.pk]">Начать</span>
									<span v-else><q-spinner /></span>
								</q-btn>
								<q-btn :loading="start_loading[task_item.pk]" color="primary" small v-if="task_item.status == 2 && task_item.can_be_uploaded && task_item.task_type == 'C'" @click="start_task(task_item)">
									<span v-if="!start_loading[task_item.pk]">Еще раз</span>
									<span v-else><q-spinner /></span>
								</q-btn>
								<q-btn color="primary" small @click="router_push({name: 'reference_codes_page', params: {pk: task_item.pk}})" v-if="!task_item.can_be_uploaded">
									Эталонное решение
								</q-btn>
							</div>
						</q-item-side>
					</q-item>
				</q-list>
			</div>
		</div>
	</div>
</template>

<script>
import global from "../../global"
import {
	QBtn,
	QIcon,
	QSpinner,
	QList,
	QListHeader,
	QItemSeparator,
	QItem,
	QItemSide,
	QItemMain,
	QItemTile,
	Toast,
} from 'quasar'
export default {
	components: {
		QBtn,
		QIcon,
		QList,
		QListHeader,
		QItemSeparator,
		QItem,
		QItemSide,
		QItemMain,
		QItemTile,
		QSpinner,
	},
	data() {
		return {
			pk: this.$route.params.pk,
			item: {},
			loading: true,
			start_loading: {},
		}
	},
	methods: {
		router_push(data) {
			this.$router.push(data);
		},
		alert(data) {
			alert(data);
		},
		set_loading(key, val) {
			var data = {};
			data[key] = val;
			this.start_loading = Object.assign({}, this.start_loading, data);
		},
		start_task(task_item) {
			this.set_loading(task_item.pk, true);
			
			this.$http.post(global.API_URL + 'learn/api/tasks/' + task_item.pk + '/start/').then(response => {
				// console.log(response.body);
				this.loading = false;
				this.set_loading(task_item.pk, false);
				this.$router.push({ name: 'task_execution_page', params: { pk: response.body.pk }});
			}, response => {
				this.set_loading(task_item.pk, false);
				global.process_error(this, response);
			});
		},
	},
	created() {
		this.$http.get(global.API_URL + 'learn/api/lessonexecution/' + this.pk).then(response => {
			// console.log(response.body);
			this.item = response.body;
			this.item.tasks.forEach(element => {
				this.start_loading[element.pk] = false;
			});
			document.title = this.item.lesson.title;
			this.loading = false;
		}, response => {
			global.process_error(this, response, true);
		});
	}
}
</script>

<style>
.task_item {
	margin-left: 10px;
}
</style>
