<template>
	<v-container :class="{'fill-height': loading}">
		<v-layout v-if="loading">
			<div style="height: 100px; width: 100px; margin: 0 auto">
				<q-spinner name="puff" color="secondary" :size="150" />
			</div>
		</v-layout>
		<v-layout v-if="!loading">
			<div>
				<h4>{{ item.title }}</h4>
				<p v-html="item.html"></p>
			</div>
		</v-layout>
	</v-container>
</template>

<script>
import global from "../../global"
import {
	Toast,
	QSpinner,
} from 'quasar'
export default {
	components: {
		QSpinner,
	},
	data() {
		return {
			pk: this.$route.params.pk,
			item: {},
			loading: true,
		}
	},
	created() {
		this.$http.get(global.API_URL + 'learn/api/lessons/' + this.pk).then(response => {
			// console.log(response.body);
			this.item = response.body;
			document.title = this.item.title;
			this.loading = false;
		}, response => {
			global.process_error(this, response, true);
		});
	}
}
</script>

<style>

</style>
