<template>
	<div>
		<div v-if="loading">
			<div style="height: 100px; width: 100px; margin: 0 auto">
				<q-spinner name="puff" color="secondary" :size="150" />
			</div>
		</div>
		<div v-if="!loading">
			<h4>{{ task.title }}</h4>
			<p v-html="task.desc"></p>
			<div>
				<div class="task_code" v-for="code_item in entities" :key="code_item.pk">
					<strong>{{ code_item.short_desc }}</strong>
					<editor readonly v-model="code_item.code" :lang="lang" theme="chrome" width="100%" height="500"></editor>
					<div class="separator" />
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import global from "../../global"
import Editor from '../../modules/Ace'
import ace from 'brace'
import {
	QBtn,
	QIcon,
	QSpinner,
	Toast,
	QAlert,
} from 'quasar'
//var Range = ace.acequire('ace/range').Range;

export default {
	components: {
		QBtn,
		QIcon,
		QSpinner,
		QAlert,
        editor: Editor,
	},
	data() {
		return {
			pk: this.$route.params.pk,
			task: null,
			entities: {},
			loading: true,
			lang: null,
		}
	},
	methods:{
		alert(data) {
			alert(data);
		},
		router_push(data) {
			this.$router.push(data);
		},

    },
	created() {
        require('brace/theme/chrome');
		this.$http.get(global.API_URL + 'learn/api/reference_codes/' + this.pk).then(response => {
			// console.log(response.body);
			this.task = response.body.task;
			this.entities = response.body.entities;
			if (this.task.programming_language && this.task.programming_language.ace_name) {
				this.lang = this.task.programming_language.ace_name;
				require('brace/mode/' + this.lang);
			}
			document.title = 'Эталонные решения для задачи "' + this.task.title + '"';
			this.loading = false;
		}, response => {
			global.process_error(this, response, true);
		});
	},
}
</script>

<style scoped>
.primary_table {
    border-collapse: collapse;
}
.primary_table th, .primary_table td {
    border: 1px solid black;
	padding: 3px;
}
.primary_table td {
    vertical-align: top;
}
.mono_span {
	font-family: Consolas, monospace;
	white-space: pre;
}
.separator {
	height: 10px;
}
</style>
