<template>
	<div>
		<div v-if="loading">
			<div style="height: 100px; width: 100px; margin: 0 auto">
				<q-spinner name="puff" color="secondary" :size="150" />
			</div>
		</div>
		<div v-if="!loading">
			<h4>{{ item.task.title }}</h4>
			<p class="has_table" v-html="item.task.desc"></p>
			
			<div v-if="item.task.task_type == 'C' && item.pairs.length > 0">
				<center class="has_table">
					<table>
						<tr>
							<th>№</th>
							<th>Пример ввода</th>
							<th>Пример вывода</th>
						</tr>
						<tr v-for="pair in item.pairs" :key="pair.pk">
							<td>{{ pair.number }}</td>
							<td><span class="mono_span">{{ pair.input_str }}</span></td>
							<td><span class="mono_span">{{ pair.output_str }}</span></td>
						</tr>
					</table>
				</center>
			</div>

			<div v-if="item.finished_at !== null">
				<div v-if="item.checked_at !== null">
					<strong>Оценка:</strong> {{ item.mark }}
				</div>
				<div v-if="item.notes.length > 0">
					<strong>Заметки по решению</strong> (наведи на заметку)
					<div class="note_item" v-on:mouseover="highlight_range(note_item.ranges, note_item.note_obj.points)" v-on:mouseout="unhighlight" v-for="note_item in item.notes" :key="note_item.pk">
						<strong :title="note_item.note_obj.note_type" :class="{note_point: true, note_plus: note_item.note_obj.points > 0, note_minus: note_item.note_obj.points < 0}">{{ note_item.note_obj.points }}</strong>
						<span>{{ note_item.note_obj.note }}</span>
					</div>
				</div>

				<div class="separator" />
				
				<q-alert v-if="item.status_string" :color="get_color()">
					{{ item.status_string }}
				</q-alert>

				<div class="separator" />

				<q-btn v-model="is_processing_lesson" loader color="primary" @click="start_lesson" v-if="next_lesson > 0">
					<span v-if="!is_processing_lesson">Начать следующий урок</span>
					<q-spinner v-else />
				</q-btn>
				<q-btn color="primary" @click="router_push({name: 'lesson_execution_page', params: {pk: next_lesson * -1}})" v-else-if="next_lesson < 0">
					<span v-if="!is_processing_lesson">Перейти к следующему уроку</span>
					<q-spinner v-else />
				</q-btn>
				<q-btn v-model="is_processing_task" loader color="primary" @click="start_task" v-else-if="next_task > 0">
					<span v-if="!is_processing_task">Начать следующее задание</span>
					<q-spinner v-if="is_processing_task" />
				</q-btn>
				<q-btn color="primary" @click="open_task_execution" v-else-if="next_task < 0">
					<span v-if="!is_processing_task">Перейти к следующему заданию</span>
					<q-spinner v-if="is_processing_task" />
				</q-btn>
				
				<q-btn color="primary" @click="start_new_task" v-if="item.task.task_type == 'C'">
					<span v-if="!is_starting_task">Сделать еще раз</span>
					<q-spinner v-if="is_starting_task" />
				</q-btn>

				<div class="separator" />

				<div class="task_answer" v-if="item.task.task_type == 'A'">
					<strong>Ваш ответ:</strong> {{ item.answer }}
				</div>
				<div class="task_one" v-else-if="item.task.task_type == 'O'">
					<strong>Ваш ответ:</strong> {{ get_title(item.answer) }}
				</div>
				<div class="task_multiple" v-else-if="item.task.task_type == 'M'">
					<strong>Ваш ответ:</strong> {{ item.answer }} (TODO)
				</div>
				<div class="task_sequence" v-else-if="item.task.task_type == 'S'">
					<strong>Ваш ответ:</strong> {{ item.answer }} (TODO)
				</div>
			</div>
			
			<div class="task_code" v-if="item.task.task_type == 'C'">
				<strong>Ваше решение</strong>
				<editor ref="code_editor" :cmperrs="cmperrs" :readonly="item.finished_at !== null" :cursor_row="cursor_pos_row" :cursor_col="cursor_pos_col" v-model="answer" @init="editorInit();" :lang="lang" theme="chrome" width="100%" height="500"></editor>
			</div>

			<div v-if="item.finished_at === null">
				<div class="task_answer" v-if="item.task.task_type == 'A'">
					<q-input v-model="answer" float-label="Ваш ответ" />
				</div>
				<div class="task_one" v-else-if="item.task.task_type == 'O'">
					<p v-for="option_item in item.options" :key="option_item.pk">
						<label>
							<q-radio v-model="answer" :val="option_item.pk" :label="option_item.title" />
						</label>
					</p>
				</div>
				<div class="task_multiple" v-else-if="item.task.task_type == 'M'">
					<p v-for="option_item in item.options" :key="option_item.pk">
						<label>
							<q-checkbox v-model="answer_list" :val="option_item.pk" :label="option_item.title" />
						</label>
					</p>
				</div>
				<div class="task_sequence" v-else-if="item.task.task_type == 'S'">
					<p v-for="option_item in item.options" :key="option_item.pk">
						<label>
							<input type="checkbox" v-model="answer" :value="option_item.pk">
							{{ option_item.title }}
						</label>
					</p>
				</div>
			
				<div class="separator" />
				<q-btn v-model="save_submit" v-if="item.task.can_be_uploaded && item.task.task_type == 'C'" loader color="primary" @click="save_task" title="Сохранить, но не отправлять на проверку">
					Сохранить
					<q-spinner slot="loading" />
				</q-btn>
				<q-btn v-model="submit" loader :color="item.task.can_be_uploaded ? 'primary' : 'red'" @click="send_task" :disable="!item.task.can_be_uploaded" :title="item.task.can_be_uploaded ? '' : 'Время отправки вышло'">
					Отправить
					<q-spinner slot="loading" />
				</q-btn>
				
			</div>
			
		</div>
	</div>
</template>

<script>
import global from "../../global"
import Editor from '../../modules/Ace'
import ace from 'brace'
import {
	QBtn,
	QIcon,
	QSpinner,
	Toast,
	QAlert,
	QInput,
	Dialog,
	QRadio,
	QCheckbox,
} from 'quasar'
var Range = ace.acequire('ace/range').Range;

export default {
	components: {
		QBtn,
		QIcon,
		QSpinner,
		QAlert,
		QInput,
		editor: Editor,
		QRadio,
		QCheckbox,
	},
	data() {
		return {
			pk: this.$route.params.pk,
			item: {},
			loading: true,
			submit: false,
			is_processing_lesson: false,
			is_processing_task: false,
			answer: "",
			answer_list: [],
			cursor_pos_row: -1,
			cursor_pos_col: -1,
			next_task: null,
			next_lesson: null,
			go_to_dashboard: false,
			lang: null,
			markers: [],
			cmperrs: [],
			is_starting_task: false,
			save_submit: false,
		}
	},
	methods:{
        editorInit () {
            //require('brace/mode/c_cpp');
            require('brace/theme/chrome');
		},
		alert(data) {
			alert(data);
		},
		open_rate() {
			var context = this;
			Dialog.create({
				title: 'Оцени сложность задачи',
				form: {
					rating: {
						type: 'rating',
						label: '1 - очень легко, 5 - очень сложно',
						model: 0,
						max: 5,
						icon: 'whatshot',
					}
				},
				buttons: [
					'Отмена',
					{
						label: 'Отправить',
						preventClose: true,
						handler (data, close) {
							console.log(data);
							if (data.rating > 0) {
								context.$http.post(global.API_URL + 'learn/api/manual_difficulty/' + context.item.pk, {rate: data.rating - 3}).then(response => {
									// console.log(response.body);
									Toast.create.positive({
										html: 'Спасибо за оценку',
										timeout: 3000,
									});
								}, response => {
									global.process_error(this, response);
								});
								close();
								return
							}
							Toast.create('Необходимо указать сложность задачи');
						},
					},
				],
			});
		},
		router_push(data) {
			this.$router.push(data);
		},
		get_title(answer) {
			for (var i = 0; i < this.item.options.length; i++) {
				var element = this.item.options[i];
				if (('' + element.pk) == answer) {
					return element.title;
				}
			}
			return answer;
		},
		highlight_range(range_str, points) {
			var class_name = "line_note";
			if (points < 0) {
				class_name = "line_warning";
			}
			else if (points > 0) {
				class_name = "line_success";
			}
			var parts;
			var start;
			var end;
			range_str.split(",").forEach(function(element) {
				parts = element.split(':');
				start = parts[0].split('_');
				end = parts[1].split('_');
				this.markers.push(this.$refs.code_editor.editor.getSession().addMarker(new Range(parseInt(start[0]), parseInt(start[1]), parseInt(end[0]), parseInt(end[1])), class_name, "line", true));
			}, this);
		},
		unhighlight() {
			if (this.markers.length > 0) {
				this.markers.forEach(function(element) {
					this.$refs.code_editor.editor.getSession().removeMarker(element);
				}, this);
				this.markers = [];
			}
		},
		send_task(e, done) {
			if (this.answer_list.length > 0) {
				this.item.answer = this.answer_list;
			}
			else {
				this.item.answer = this.answer;
			}
			this.$http.put(global.API_URL + 'learn/api/taskexecution/' + this.pk, this.item).then(response => {
				// console.log(response.body);
				this.item = response.body.item;
				this.next_task = response.body.next_task;
				this.next_lesson = response.body.next_lesson;
				this.go_to_dashboard = response.body.go_to_dashboard;

				Toast.create.positive({
					html: 'Ответ успешно отправлен',
					timeout: 3000,
				});
				this.open_rate();
				done();
			}, response => {
				global.process_error(this, response, true);
				done();
			});
		},
		save_task(e, done) {
			// TODO: get from saved chechboxes, sequence and radios
			if (this.answer_list.length > 0) {
				this.item.answer = this.answer_list;
			}
			else {
				this.item.answer = this.answer;
			}
			this.$http.put(global.API_URL + 'learn/api/taskexecution/' + this.pk + '?only_save=1', this.item).then(response => {
				// console.log(response.body);
				this.item = response.body.item;

				Toast.create.positive({
					html: 'Ответ успешно сохранен',
					timeout: 3000,
				});
				done();
			}, response => {
				global.process_error(this, response, true);
				done();
			});
		},
		start_task(e, done) {
			this.$http.post(global.API_URL + 'learn/api/tasks/' + this.next_task + '/start/').then(response => {
				// console.log(response.body);
				this.$router.push({ name: 'task_execution_page', params: { pk: response.body.pk }});
				this.loading = false;
				this.process_task_exec(this, response);
				Toast.create.positive({
					html: 'Создано новое решение',
					timeout: 5000,
				});
				done();
			}, response => {
				global.process_error(this, response);
				done();
			});
		},
		start_new_task() {
			this.is_starting_task = true;
			this.$http.post(global.API_URL + 'learn/api/tasks/' + this.item.task.pk + '/start/').then(response => {
				// console.log(response.body);
				this.$router.push({ name: 'task_execution_page', params: { pk: response.body.pk }});
				this.process_task_exec(this, response);
				this.is_starting_task = false;
				Toast.create.positive({
					html: 'Создано новое решение',
					timeout: 5000,
				});
			}, response => {
				global.process_error(this, response);
				this.is_starting_task = false;
			});
		},
		start_lesson(e, done) {
			this.$http.post(global.API_URL + 'learn/api/lessons/' + this.next_lesson + '/start/').then(response => {
				// console.log(response.body);
				done();
				this.$router.push({ name: 'lesson_execution_page', params: { pk: response.body.pk }});
				Toast.create.positive({
					html: 'Урок успешно начат',
					timeout: 5000,
				});
			}, response => {
				global.process_error(this, response);
				done();
			});
		},
		open_task_execution() {
			this.loading = true;
			this.$http.get(global.API_URL + 'learn/api/taskexecution/' + this.next_task * -1).then(response => {
				// console.log(response.body);
				this.$router.push({ name: 'task_execution_page', params: { pk: response.body.pk }});
				this.process_task_exec(this, response);
				this.loading = false;
			}, response => {
				global.process_error(this, response);
			});
		},
		get_color() {
			if (this.item.is_correct == true) {
				return "positive";
			}
			else if (this.item.is_correct == false) {
				return "negative";
			}
			return "tertiary";
		},
		process_task_exec(context, response) {
			context.item = response.body;
			context.pk = context.item.pk;
			context.answer = "";
			if (context.item.task.programming_language && context.item.task.programming_language.ace_name) {
				context.lang = context.item.task.programming_language.ace_name;
				require('brace/mode/' + context.lang);
				
				if (context.item.task.task_type == 'C' && context.item.task.default_value == "") {
					if (context.lang == 'c_cpp') {
						context.answer = "#include <iostream>\nusing namespace std;\n\nint main() {\n\t// пишите код здесь\n\treturn 0;\n}";
						context.cursor_pos_row = 4;
						context.cursor_pos_col = 20;
					}
				}
			}
			if (context.item.task.default_value != "") {
				context.answer = context.item.task.default_value;
				if (context.item.task.cursor_pos_row !== null && context.item.task.cursor_pos_col !== null) {
					context.cursor_pos_row = context.item.task.cursor_pos_row;
					context.cursor_pos_col = context.item.task.cursor_pos_col;
				}
			}
			if (context.item.answer) {
				context.answer = context.item.answer;
			}
			context.cmperrs = [];
			if (context.item.compiler_notes) {
				context.cmperrs = context.item.compiler_notes;
			}
			document.title = context.item.task.title;
			context.next_task = null;
			context.next_lesson = null;
		},
    },
	created() {
		this.$http.get(global.API_URL + 'learn/api/taskexecution/' + this.pk).then(response => {
			// console.log(response.body);
			this.process_task_exec(this, response);
			this.loading = false;
		}, response => {
			global.process_error(this, response, true);
		});
	},
}
</script>

<style scoped>
.has_table {
	max-width: 100%;
	overflow: auto;
}
.has_table table {
    border-collapse: collapse;
}
.has_table table th, .has_table table td {
    border: 1px solid black;
	padding: 3px;
}
.has_table table td {
    vertical-align: top;
}
.mono_span {
	font-family: Consolas, monospace;
	white-space: pre;
}
.note_point {
	display: inline-block;
	width: 50px;
	text-align: right;
}
.note_plus {
	color: darkgreen;
}
.note_minus {
	color: brown;
}
.note_item:hover {
	background-color: #DDD;
}
.separator {
	height: 10px;
}
</style>
