<template>
	<div>
		<h4>Завершенные решения</h4>
		<div v-if="loading" class="row justify-center">
			<q-spinner name="puff" color="secondary" :size="150" />
		</div>
		<div class="row" v-else>
			<div class="col-lg-2"></div>
			<div class="col-sm-12 col-lg-8">
				<div class="bg-white">
					<q-list highlight inset-separator v-if="all_entities_count > 0">
						<q-item v-for="code_item in entities" :key="code_item.pk" class="code_item">
							<q-item-main :label="code_item.task.title" :sublabel="get_sublabel(code_item)"/>
							<q-item-side right>
								<q-item-tile stamp>
									<h6 v-if="code_item.checked_at !== null && code_item.percent > 0">{{ code_item.mark }} ({{ code_item.percent }}%)</h6>
									<h6 v-else-if="code_item.checked_at !== null">{{ code_item.mark }}</h6>
									<h6 v-else-if="code_item.percent > 0">{{ code_item.percent }}%</h6>
								</q-item-tile>
								<q-btn outline @click="router_push({name: 'task_execution_page', params: {pk: code_item.pk}})" :color="get_color(code_item)" small>Открыть</q-btn>
							</q-item-side>
						</q-item>
					</q-list>
					<q-list highlight inset-separator v-if="all_entities_count == 0">
						<q-item>
							<q-item-main label="Тут пока ничего нет..." sublabel='Зайдите в меню "Мои курсы", откройте урок и выполните задание'/>
						</q-item>
					</q-list>
				</div>
				<div class="buttons">
					<q-btn v-model="submit" loader color="primary" v-if="all_entities_count > entities.length" @click="load_next">
						Загрузить еще
						<q-spinner slot="loading" />
					</q-btn>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import global from "../../global"
import {
	QBtn,
	QIcon,
	QSpinner,
	QList,
	QListHeader,
	QItemSeparator,
	QItem,
	QItemSide,
	QItemMain,
	QItemTile,
	Toast,
} from 'quasar'

export default {
	components: {
		QBtn,
		QIcon,
		QSpinner,
		QList,
		QListHeader,
		QItemSeparator,
		QItem,
		QItemSide,
		QItemMain,
		QItemTile,
	},
	data() {
		return {
			entities: [],
			all_entities_count: 0,
			loading: true,
			submit: false,
			page: 1,
		}
	},
	methods: {
		router_push(data) {
			this.$router.push(data);
		},
		get_sublabel(code_item) {
			return code_item.notes_count > 0 ? global.pluralize(code_item.notes_count, ['заметок', 'заметка', 'заметки']) : (code_item.status_string ? code_item.status_string : '');
		},
		get_color(code_item) {
			if (code_item.is_correct == true) {
				return "positive";
			}
			else if (code_item.is_correct == false) {
				return "negative";
			}
			return "primary";
		},
		load_next() {
			this.page++;
			this.$http.get(global.API_URL + 'learn/api/completed_codes/?page=' + this.page).then(response => {
				// console.log(response);
				this.entities = this.entities.concat(response.body.entities);
				this.all_entities_count = response.body.all_entities_count;
				this.submit = false;
			}, response => {
				this.submit = false;
				this.page--;
				global.process_error(this, response);
			});
		}
	},
	created () {
		this.$http.get(global.API_URL + 'learn/api/completed_codes/').then(response => {
			// console.log(response);
			this.entities = response.body.entities;
			this.all_entities_count = response.body.all_entities_count;
			this.loading = false;
		}, response => {
			global.process_error(this, response, true);
		});
	}
}
</script>

<style scoped>
.buttons {
	text-align: center;
	margin-top: 10px;
}
</style>
